<div>
  <div class="about_us-page-bg">
    <div class="left triangle"></div>
    <div class="right triangle"></div>
  </div>
  <br>
  <div class="text-center content-on-img-about">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <p style="font-size:30px"><b>Internet of Things Directory</b></p>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="padding:10px">
        <b>Find all the key companies worldwide, in the Internet of Things (IoT) Machine to Machine (M2M), near-field communications (NFC), and connected device sectors.</b>
      </p>
    </div>
  </div>
  <div class="container">
    <div class=" row text-center">
      <div class="col-xs-12">
        <h2>About Us</h2>
        <hr class="small">
        <br>
        <p class="text_on_add_company">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x">
                                <i class="fa fa-home fa-stack-1x favIcons"></i>
                            </span>
              <h4>
                                    <span class="abtus-service-name">Lorem Ipsum</span>
                                </h4>

            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x">
                                <i class="fa fa-home fa-stack-1x favIcons"></i>
                            </span>
              <h4>
                                    <span class="abtus-service-name">Lorem Ipsum</span>
                                </h4>

            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x">
                                <i class="fa fa-home fa-stack-1x favIcons"></i>
                            </span>
              <h4>
                                    <span class="abtus-service-name">Lorem Ipsum</span>
                                </h4>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class=" row text-center">
      <div class="col-xs-12">
        <h2>What We Do</h2>
        <hr class="small">
        <br>
        <p class="text_on_add_company">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!--<div class="about_us_grey_bg">
</div>-->


  <div class="about_us_grey_bg1">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <i class="fa fa-quote-left quoteIcon"></i>
          </div>
        </div>
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
          <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="carousel-content">
                    <div>
                      <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <p>This is another much longer item. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="carousel-content">
                    <div>
                      <p>This is the third item. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <a class="left carousel-control" href="#carousel-example" data-slide="prev">
            <span class="fa fa-angle-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example" data-slide="next">
            <span class="fa fa-angle-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="text-center" ui-sref="companies.add">
    <button type="submit" class="btn btn-add-company">ADD YOUR PRODUCT</button>
  </div>
  <br>
  <br>

</div>
