
 <div class="jumbotron text-center" style="background:url(modules/core/client/img/billgates-img.jpg);height:359px;margin-bottom:-19px;">


          <br>


          <span style="color: white;">{{title}}</span>

          <br>


     <div class="row">

         <div class="container">

             <div class=" col-lg-7 col-md-8 col-sm-8 col-md-offset-3 col-sm-offset-3 col-xs-12 col-xs-offset-1" >

                 <p>{{description}}</p>

             </div>


         </div>

     </div>



        <img src="{{img1}}" class="img1">

        <img src="{{img2}}" class="img2">

        <img src="{{img3}}" alt="miss" class="img3">

     </div>


