<div class="navbar navbar-inverse hidden-xs hidden-sm" id="footer" ng-controller="HeaderController">
  <div class="container">
    <div class="ft_left ft_triangle"></div>
    <div class="ft_right ft_triangle"></div>
    <div class="row">
      <div class="col-md-4 col-xs-12 text-center">
        <a ui-sref="home" class="navbar-brand footer_img"><img src="modules/core/client/img/brand/Thingsberry.png" class="logo footer_elements"><u style="left: -

999999px;position: absolute;">thingsberry logo</u></a>
      </div>
      <div class="col-md-8 col-xs-12 text-center">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 50px;">

          <li class="footer_elements">
            <a ui-sref="home" class="footer_names">HOME <span style="padding-left:25px" class="hidden-

xs" >|</span></a>
          </li>


          <li class="footer_elements" ng-show="authentication.user.roles.indexOf('admin') > -1">
            <a ui-sref="companies.add" class="footer_names">ADD NEW <span style="padding-left:25px"

class="hidden-xs">|</span></a>
          </li>
          <!--<li class="footer_elements">
  <a ui-sref="aboutus" class="footer_names">ABOUT US <span style="padding-left:25px"

class="hidden-xs">|</span></a>
</li>-->



          <li class="footer_elements" ng-hide="authentication.user.roles.indexOf('admin') > -1">
            <a ui-sref="getListed" class="footer_names">GET LISTED<span style="padding-left:25px"

class="hidden-xs" >|</span></a>
          </li>

          <li class="footer_elements">
            <a ui-sref="contactus" class="footer_names">CONTACT US <span style="padding-left:25px"

class="hidden-xs" >|</span></a>
          </li>


          <li class="footer_elements">
            <a href="http://blog.thingsberry.com" class="footer_names">BLOG<span style="padding-

left:25px" class="hidden-xs">|</span></a>
          </li>


          <li ng-hide="authentication.user" class="footer_elements">
            <a ui-sref="authentication.signin" class="footer_names">LOG IN</a>
          </li>

          <li class="row footer_elements footer_social_row">
            <span><a href=" https://www.facebook.com/thingsberry" target="_blank"><i class="fa fa-

facebook col-md-4 socialIcons"></i></a></span>
            <span><a href="https://twitter.com/thingsberry" target="_blank"><i class="fa fa-twitter col-md-4

socialIcons"></i></a></span>
            <span> <a href="https://plus.google.com/communities/116282848843785038447"

target="_blank"><i class="fa fa-google-plus col-md-4 socialIcons"></i></a></span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="visible-xs visible-sm text-center ">
  <div class="ft_left ft_triangle"></div>
  <div class="ft_right ft_triangle"></div>
  <div class="row footer_elements footer_social_row" style="padding-bottom:10px">
    <a href=" https://www.facebook.com/thingsberry" target="_blank"><i class="fa fa-facebook col-md-4

socialIcons"></i></a>
    <a href="https://twitter.com/thingsberry" target="_blank"><i class="fa fa-twitter col-md-4

socialIcons"></i></a>
    <a href="https://plus.google.com/communities/116282848843785038447" target="_blank"><i class="fa

fa-google-plus col-md-4 socialIcons"></i></a>
  </div>
</div>
