<!--
<div style="background-color:#ffffff">
  <div class="container">
    <div class="row" style="height: 84px;background-color:#ffffff;">


      <div class="col-md-4 text-left">
        <a ui-sref="home" class="navbar-brand footer_img"><img ng-src="modules/core/client/img/brand/Thingsberry_logo.png" class="logo footer_elements" style="width: 190px;padding-top: 10px;"><u style="left: -999999px;position: absolute;">thingsberry logo</u></a>

        <div class="hidden-xs col-lg-offset-6 col-md-offset-6">




          <p style=" font-size: 11px;opacity: 0.5; margin-top: 36px;position: absolute;">&copy;COPYRIGHTS 2016.THINGSBERRY.COM</p>

        </div>
      </div>




      <div class="visible-sm col-sm-9 col-md-6">
        <a ui-sref="home" class="navbar-brand footer_img"><img ng-src="modules/core/client/img/brand/Thingsberry_logo.png" class="logo footer_elements" style="width: 181px;margin-top: -51px;"><u style="left: -999999px;position: absolute;">thingsberry logo</u></a>

        <p style="font-size: 11px;opacity:0.5;    margin-top: 36px;position: absolute;margin-left:298px">&copy;COPYRIGHTS 2016.THINGSBERRY.COM</p>

      </div>

      <div class="col-md-6 col-xs-12 col-lg-6 hidden-sm hidden-xs text-right">

        <ul class="nav navbar-nav navbar-right" style="display: -webkit-inline-box;margin-top: -28px;opacity: 0.5;">

          <li class="footer_elements">
            <a ui-sref="home" class="footer_names" style="cursor:pointer; font-size: 11px;">HOME <span style="padding-left:12px" class="hidden-xs" >|</span></a>
          </li>


          <li class="footer_elements">
            <a ui-sref="getListed" class="footer_names" style="cursor:pointer;font-size: 11px;">GET LISTED <span style="padding-left:12px" class="hidden-xs">|</span></a>
          </li>

          <li class="footer_elements" ng-hide="authentication.user.roles.indexOf('admin') > -1">
            <a ui-sref="contactus" class="footer_names" style="cursor:pointer;font-size: 11px;">CONTACT US<span style="padding-left:12px" class="hidden-xs" >|</span></a>
          </li>

          <li class="footer_elements">
            <a href="http://blog.thingsberry.com" class="footer_names" style="cursor:pointer;font-size: 11px;color:#969696">BLOG<span style="padding-left:12px" class="hidden-xs">|</span></a>
          </li>

          <li class="footer_elements">
            <a ui-sref="authentication.signin" class="footer_names" style="cursor:pointer;font-size: 11px;">LOG IN</a>
          </li>

          <li class="row footer_elements footer_social_row" style="margin-left:-50px;margin-top:11px;">

            <li class="row footer_elements footer_social_row col-lg-offset-1" style="margin-top:11px;padding-left: 0px;display:inline;">
              <span><a href=" https://www.facebook.com/thingsberry" target="_blank" style="font-size:20px;color:black;"><i class="fa fa-facebook col-md-4 socialIcons"></i></a></span>
              <span> <a href="https://plus.google.com/communities/116282848843785038447" target="_blank" style="font-size:20px;color:black;"><i class="fa fa-google-plus col-md-4 socialIcons"></i></a></span>
              <span><a href="https://twitter.com/thingsberry" target="_blank" style="font-size:20px;color:black;"><i class="fa fa-twitter col-md-4 socialIcons"></i></a></span>


            </li>

        </ul>
      </div>
      <div class=" col-sm-offset-9 hidden-lg hidden-md col-xs-offset-7 col-xs-4 col-sm-3" style=" padding-top: 29px;    position: absolute;   display: flex;    left: -25px;">

        <span><a href=" https://www.facebook.com/thingsberry" target="_blank" style="font-size:20px;color:#969696"><i class="fa fa-facebook col-md-4 socialIcons"></i></a></span>
        <span> <a href="https://plus.google.com/communities/116282848843785038447" target="_blank" style="font-size:20px;color:black;color:#969696"><i class="fa fa-google-plus col-md-4 socialIcons"></i></a></span>
        <span><a href="https://twitter.com/thingsberry" target="_blank" style="font-size:20px;color:#969696;"><i class="fa fa-twitter col-md-4 socialIcons"></i></a></span>

      </div>



    </div>
  </div>
</div>
-->


<div class="row footer_Bg" ng-controller="HeaderController">
  <div class="container">

    <div class="col-md-3 col-xs-7 col-sm-4">
      <a ui-sref="home" class=""><img ng- src="modules/core/client/img/brand/Thingsberry_logo.png" class="footer_logo"><u style="left: -999999px;position: absolute;">thingsberry logo</u></a>
    </div>

    <div class="col-md-3 col-sm-5 hidden-xs" style="padding:0px;">
      <span class="tb_copyright_footer">THINGSBERRY &copy; {{date1 |date:'yyyy'}}</span><span class="terms_privacy_footer">&nbsp;-&nbsp;<a href="privacy">Privacy Policy</a>&nbsp;-&nbsp;<a href="terms">Terms & Conditions</a></span>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">

      <ul class="nav navbar-nav navbar-right" style="display: -webkit-inline-box;margin-top: 11px;opacity: 0.8;">

        <li class="footer_elements">
          <a ui-sref="home" class="footer_names">HOME <span style="padding-left:12px" class="hidden-xs" >|</span></a>
        </li>


        <li class="footer_elements">
          <a ui-sref="getListed" class="footer_names">GET LISTED <span style="padding-left:12px" class="hidden-xs">|</span></a>
        </li>

        <li class="footer_elements" ng-hide="authentication.user.roles.indexOf('admin') > -1">
          <a ui-sref="contactus" class="footer_names">CONTACT US<span style="padding-left:12px" class="hidden-xs" >|</span></a>
        </li>

        <li class="footer_elements">
          <a href="http://blog.thingsberry.com" class="footer_names">BLOG<span style="padding-left:12px" class="hidden-xs">|</span></a>
        </li>

        <li class="footer_elements">
          <a ui-sref="authentication.signin" class="footer_names">LOG IN</a>
        </li>

      </ul>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-4 text-right" style="padding:0px;">
      <li class="row " style="display:inline;">
        <span><a href=" https://www.facebook.com/thingsberry" target="_blank" ><i class="fa fa-facebook socialIcons socialFacebook"></i></a></span>
        <span> <a href="https://plus.google.com/communities/116282848843785038447" target="_blank" ><i class="fa fa-google-plus  socialIcons socialGoogle"></i></a></span>
        <span><a href="https://twitter.com/thingsberry" target="_blank"><i class="fa fa-twitter  socialIcons socialTwitter"></i></a></span>
      </li>
    </div>
    <div class="col-xs-12 visible-xs" style="margin-top:-35px;">
      <span class="tb_copyright_footer">THINGSBERRY &copy; {{date1 |date:'yyyy'}}</span><span class="terms_privacy_footer">&nbsp;-&nbsp;<a href="privacy">Privacy Policy</a>&nbsp;-&nbsp;<a href="terms">Terms & Conditions</a></span>
    </div>
  </div>


</div>
