<div ui-view="add-product"></div>
<div ui-view="allproducts-side"></div>

<div ng-if="($state.current.name == 'home')">
  <section ng-controller="HomeController">
    <update-title title="Thingsberry - List of Internet of things (Iot) Products."></update-title>
    <update-meta name="description" content="Find the comprehensive list of Internet of Things (IoT) products and ratings in the areas of Home Automation, Wearable, Health Care and more.."></update-meta>
    <update-meta property="og:title" content="Thingsberry - List of Internet of things (Iot) Products."></update-meta>
    <update-meta itemprop="description" content="Find the comprehensive list of Internet of Things (IoT) products and ratings in the areas of Home Automation, Wearable, Health Care and more.."></update-meta>
    <div>
      <div class="row" style="background-color:#a3a3a3;min-height:570px;">
        <div class="container advSearch_and_premium_box">
          <div class="row">
            <div class="col-md-6">
              <tb-search></tb-search>
            </div>
            <div class="col-md-6" ng-init="premiumProducts()">
              <div class="row premium_box featured-listing" ng-hide="premiumPrdcts.length == 0">
                <div ng-show="spinnerShow" class="tb-premium-spinner">
                  <div layout="row" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
                  </div>
                  <h5 class="text-center" style="color:white;">Loading please wait...</h5>
                </div>
                <div class=" featured_prdct_carousel ">
                  <uib-carousel interval="0" active=0 no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="slide in premiumPrdcts" index="$index">
                      <div ng-repeat="sarray in slide" class="col-md-12 " data-wrap="false">
                        <tb-premium-products details=sarray></tb-premium-products>
                      </div>
                    </uib-slide>
                  </uib-carousel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  ::: Our Feautured Products ::: -->

    <div class="container" ng-init="featuredProducts()">
      <div class="row text-center featured_text">
        <h1 class="featured_in_mobile">::: Featured Products :::</h1>
        <!-- <p>Lorem ipsum dolor sit amet,consectetur adipiscing aelit,sed do eiusmod tempor incididunt</p>-->
      </div>

      <div class="row hidden-sm hidden-xs ">
        <div class="col-md-12 featured_prdct_carousel featured-listing">
          <div ng-hide="sample" class="tb-premium-spinner">
            <div layout="row" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
            </div>
            <h5 class="text-center">Loading please wait...</h5>
          </div>
          <uib-carousel interval="" active=0 no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in sample" index="$index">
              <div ng-repeat="sarray in slide" emit-last-repeater-element class="col-md-3 feature_prdcts " data-wrap="false">
                <tb-featured-products details=sarray></tb-featured-products>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
      <div class="row hidden-md hidden-xs visible-sm-block">
        <div class="col-sm-12 featured_prdct_carousel product-listing">
          <div ng-hide="sampleInSm" class="tb-premium-spinner">
            <div layout="row" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
            </div>
            <h5 class="text-center">Loading please wait...</h5>
          </div>
          <uib-carousel interval="" active=0 no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in sampleInSm" index="$index">
              <div ng-repeat="sarray in slide" class="col-sm-5 col-sm-offset-1 feature_prdcts" data-wrap="false">
                <tb-featured-products details=sarray></tb-featured-products>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
      <div class="row hidden-md hidden-sm visible-xs-block ">
        <div class="col-xs-12  featured_prdct_carousel featured_prdct_carousel_In_Xs product-listing">
          <div ng-hide="sampleInXs" class="tb-premium-spinner">
            <div layout="row" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
            </div>
            <h5 class="text-center">Loading please wait...</h5>
          </div>
          <uib-carousel interval="" active=0 no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in sampleInXs" index="$index">
              <div ng-repeat="sarray in slide" class="col-xs-11 feature_prdcts" data-wrap="false">
                <tb-featured-products details=sarray></tb-featured-products>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
      <div class="row text-center" style="padding:35px;">
        <button class="btn btn-default view_all_prdcts_bttn" ng-click="getSearchedProducts(homeSearchDetails)">VIEW MORE PRODUCTS</button>
        <!-- <span id="ip"></span>-->
      </div>
    </div>

    <!--  ::: Our Feautured Products closed ::: -->

    <!------------::: quotes :::--------------->

    <div ng-init="tbVideos()">
      <div class="row quotes_bg_image">
        <div class="container">

          <!--<div class="featured_prdct_carousel quotes_carousel col-md-12 col-xs-12">
            <uib-carousel interval="5000" active=0 no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in quotes " index="$index">
                <tb-quotes tbquote="slide"></tb-quotes>
              </uib-slide>
            </uib-carousel>
          </div>-->
          <div ng-show="showSpinner" class="tb-premium-spinner">
            <div layout="row" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
            </div>
            <h5 class="text-center" style="color:white;">Loading please wait...</h5>
          </div>
          <div class=" quotes_carousel  col-md-12 col-xs-12" ng-class="{'disableControlls':disableControlls}">
            <uib-carousel interval="0" active=0 no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in videos " index="$index">
                <div class="row" style="min-height:100px;">
                  <h2 class="quotes_title_In_Xs" style="color:white;">{{slide.title}}</h2>
                </div>
                <div>
                  <youtube-video class="videoBox embed-responsive" video-id="slide.videoId"></youtube-video>
                </div>
                <!--<div class="video_mask">-->
                <!--<div class="video-frame" my-youtube code="slide.videoId"></div>-->
                <!--</div>-->
              </uib-slide>
            </uib-carousel>
          </div>

          <!--<tb-quotes tbquote="quote"></tb-quotes>-->

          <!--<div class="row  text-center ">
          <span ng-repeat="quotes in quotes |limitTo: 3 ">
          <img ng-src="{{quotes.personImageUrl}}" class="quotes_imges">
            </span>
        </div>-->
        </div>
      </div>
    </div>
    <!------------::: quotes closed :::--------------->

    <!----------------  ::: Our Clients :::-------------->
    <div ng-init="tbClients()">
      <div class="row" style="background-color:#ebebeb;">
        <div class="container">
          <div class="row text-center client_text">
            <h1 class="featured_in_mobile">::: Featured Companies :::</h1>
            <!--<h5>Lorem ipsum dolor sit amet,consectetur adipiscing aelit,sed do eiusmod tempor incididunt</h5>-->
          </div>
          <div class="row text-center client_body">
            <div ng-repeat="client in clients | limitTo: 6" class="col-md-2 col-sm-6 col-xs-6">
              <tb-clients clients="client" class="text-center"></tb-clients>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------  ::: Our Clients close :::-------------->
  </section>



  <a id='backTop'>Back To Top</a>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $("#backTop").fadeIn();
        } else {
          $("#backTop").fadeOut();
        }
      });

      // scroll body to 0px on click
      $("#backTop").click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 800);
        return false;
      })
    });


    /* $.getJSON("http://jsonip.com?callback=?", function (response) {
       $("#ip").text(response.ip);
     });*/
  </script>
</div>
