<div ui-view></div>
<section ng-controller="HomeController" ng-hide="($state.current.name=='home.companies.list.products.detail')||($state.current.name=='home.companies.list.products')||($state.current.name=='home.companies.add')">
  <update-title title="Thingsberry - internet of things(iot), connected devices, smart devices, smart things, smart homes, smart health devices, iot ratings and reviews..."></update-title>
  <update-meta name="description" content="Comprehensive list of internet of things(IoT), connected devices, smart devices, smart things, smart homes, health, fitness, sport and IoT ratings and reviews..."></update-meta>
  <update-meta property="og:title" content="Thingsberry - internet of things(iot), connected devices, smart devices, smart things, smart homes, smart health devices, iot ratings and reviews..."></update-meta>
  <update-meta itemprop="description" content="Comprehensive list of internet of things(IoT), connected devices, smart devices, smart things, smart homes, health, fitness, sport and IoT ratings and reviews..."></update-meta>
  <div>
    <div class="row" style="background-color:#a3a3a3;min-height:570px;">
      <div class="container advSearch_and_premium_box">
        <div class="row">
          <div class="col-md-6">
            <tb-search></tb-search>
          </div>
          <div class="col-md-6" ng-init="premiumProducts()">
            <div class="row premium_box featured-listing" ng-hide="premiumPrdcts.length == 0" ng-class="carouselBg">
              <div class=" featured_prdct_carousel ">
                <uib-carousel interval="0" active=0 no-wrap="noWrapSlides">
                  <uib-slide ng-repeat="slide in premiumPrdcts" index="$index">
                    <div ng-repeat="sarray in slide" class="col-md-12 " data-wrap="false">
                      <tb-premium-products details=sarray></tb-premium-products>
                    </div>
                  </uib-slide>
                </uib-carousel>
              </div>
            </div>
            <!-- <div style="margin:5%;text-align:center;" ng-show="spinnerLoading"><img ng-src="modules/core/client/img/loaders/spinner.gif">
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  ::: Our Feautured Products ::: -->

  <div class="container" ng-init="featuredProducts()">
    <div class="row text-center featured_text">
      <h1 class="featured_in_mobile">::: Featured Products :::</h1>
      <!-- <p>Lorem ipsum dolor sit amet,consectetur adipiscing aelit,sed do eiusmod tempor incididunt</p>-->
    </div>

    <div class="row hidden-sm hidden-xs ">
      <div class="col-md-12 featured_prdct_carousel featured-listing">
        <uib-carousel interval="" active=0 no-wrap="noWrapSlides" ng-class="carouselBg1">
          <uib-slide ng-repeat="slide in sample" index="$index">
            <div ng-repeat="sarray in slide" emit-last-repeater-element class="col-md-3 feature_prdcts " data-wrap="false">
              <tb-featured-products details=sarray></tb-featured-products>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
    <div class="row hidden-md hidden-xs visible-sm-block">
      <div class="col-sm-12 featured_prdct_carousel product-listing" ng-class="carouselBg1">
        <uib-carousel interval="" active=0 no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in sampleInSm" index="$index">
            <div ng-repeat="sarray in slide" class="col-sm-5 col-sm-offset-1 feature_prdcts" data-wrap="false">
              <tb-featured-products details=sarray></tb-featured-products>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
    <div class="row hidden-md hidden-sm visible-xs-block ">
      <div class="col-xs-12  featured_prdct_carousel featured_prdct_carousel_In_Xs product-listing" ng-class="carouselBg1">
        <uib-carousel interval="" active=0 no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in sampleInXs" index="$index">
            <div ng-repeat="sarray in slide" class="col-xs-11 feature_prdcts" data-wrap="false">
              <tb-featured-products details=sarray></tb-featured-products>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
    <div class="row text-center" style="padding:35px;">
      <button class="btn btn-default view_all_prdcts_bttn" ng-click="getSearchedProducts(homeSearchDetails)">VIEW MORE PRODUCTS</button>
    </div>
  </div>

  <!--  ::: Our Feautured Products closed ::: -->

  <!------------::: quotes :::--------------->

  <div ng-init="tbVideos()">
    <div class="row quotes_bg_image">
      <div class="container">

        <!--<div class="featured_prdct_carousel quotes_carousel col-md-12 col-xs-12">
            <uib-carousel interval="5000" active=0 no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in quotes " index="$index">
                <tb-quotes tbquote="slide"></tb-quotes>
              </uib-slide>
            </uib-carousel>
          </div>-->
        <div class=" quotes_carousel  col-md-12 col-xs-12" ng-class="{'disableControlls':disableControlls}">
          <uib-carousel interval="0" active=0 no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in videos " index="$index">
              <div class="row" style="min-height:100px;">
                <h2 class="quotes_title_In_Xs" style="color:white;">{{slide.title}}</h2>
              </div>
              <div>
                <youtube-video class="videoBox embed-responsive" video-id="slide.videoId"></youtube-video>
              </div>
              <!--<div class="video_mask">-->
              <!--<div class="video-frame" my-youtube code="slide.videoId"></div>-->
              <!--</div>-->
            </uib-slide>
          </uib-carousel>
        </div>

        <!--<tb-quotes tbquote="quote"></tb-quotes>-->

        <!--<div class="row  text-center ">
          <span ng-repeat="quotes in quotes |limitTo: 3 ">
          <img ng-src="{{quotes.personImageUrl}}" class="quotes_imges">
            </span>
        </div>-->
      </div>
    </div>
  </div>
  <!------------::: quotes closed :::--------------->

  <!----------------  ::: Our Clients :::-------------->
  <div ng-init="tbClients()">
    <div class="row" style="background-color:#ebebeb;">
      <div class="container">
        <div class="row text-center client_text">
          <h1 class="featured_in_mobile">::: Featured Companies :::</h1>
          <!--<h5>Lorem ipsum dolor sit amet,consectetur adipiscing aelit,sed do eiusmod tempor incididunt</h5>-->
        </div>
        <div class="row text-center client_body">
          <div ng-repeat="client in clients | limitTo: 6" class="col-md-2 col-sm-6 col-xs-6">
            <tb-clients clients="client" class="text-center"></tb-clients>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------  ::: Our Clients close :::-------------->



</section>



<a id='backTop'>Back To Top</a>
<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $("#backTop").fadeIn();
      } else {
        $("#backTop").fadeOut();
      }
    });

    // scroll body to 0px on click
    $("#backTop").click(function () {
      $("html, body").animate({
        scrollTop: 0
      }, 800);
      return false;
    })
  });
</script>
<!--
<script>
  function onYouTubePlayerAPIReady() {
    angular.element(document).ready(function () {
      var rootScope = angular.element(document).injector().get('$rootScope');
      rootScope.$broadcast('onYouTubePlayerAPIReady');
    });
  }
</script>
<script src="http://www.youtube.com/player_api"></script>
-->










<!--

<section ng-controller="HomeController">
  <div class="content-on-img">
    <div class="left triangle"></div>
    <div class="right triangle"></div>
    <div class="row  text-center">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p class="lead text_over_bg" style="padding:10px">
          Find the comprehensive list of Internet of Things (IoT) products and ratings in the areas of Home Automation, Wearable, Health Care, Utilities and more...
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 home-search">
        <div class="well">
          <form class="form-horizontal" role="form" ng-submit="getSearchedProducts(homeSearchDetails)">

            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-6">
           
                <div class="form-group">
                  <div class="col-xs-12 home_input_tags" style="opacity: 1;">
                    <tags-input ng-model="homeSearchDetails.Category" class="form-control-tags-input" display-property="title" placeholder="Enter a category. Eg. Home, Accesories, Electronics, Healthcare or Baby-Products">
                      <auto-complete source="loadCategories()" min-length="0" debounce-delay="0" max-results-to-show="10"></auto-complete>
                    </tags-input>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                <div class="form-group">
                  <div class="col-xs-12">
                    <input type="submit" class="form-control btn-search-products" id="searchBtn" value="Search" style="color:white">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 ">
                <p class="Advanced_Search" ng-click="Advanced_Search_Fields = !Advanced_Search_Fields">Advanced Search <i class="fa fa-angle-up" ng-show="Advanced_Search_Fields"></i><i class="fa fa-angle-down" ng-hide="Advanced_Search_Fields"></i> </p>
              </div>
            </div>
            <div class="row cssSlideUp" ng-hide="!Advanced_Search_Fields">
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <div class="col-xs-12" style="opacity: 1;">
                  
                    <input type="text" class="form-control" id="inputEmail" placeholder="Company" ng-model="homeSearchDetails.Company">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <div class="col-xs-12" style="opacity: 1;">

                    <input type="text" class="form-control" id="inputEmail" placeholder="Product" ng-model="homeSearchDetails.Product">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 hidden-xs hidden-sm">
                <div class="form-group">
                  <div class="col-xs-12 home_input_tags">
                 
                    <div isteven-multi-select input-model="modernBrowsers" output-model="homeSearchDetails.outputBrowsers" button-label="name" item-label="name" tick-property="ticked" on-open="fOpen()" on-close="fClose()" on-item-click="fClick( data )" on-select-all="fSelectAll()" on-select-none="fSelectNone()" on-reset="fReset()" on-clear="fClear()" on-search-change="fSearchChange( data )">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group row visible-xs">
                <div class="col-xs-12">
                  <input type="submit" class="form-control btn-search-products mobile-search-btn" id="searchBtn" value="Search" style="color:white">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>

  <div class="row text-center" ng-init="getPremiumProducts()">
    <div class="col-lg-10 col-lg-offset-1">
      <h2>Featured Products</h2>
      <hr class="small">
      <br>
      <br>
    </div>


     <div class="col-md-10 col-md-offset-1 hidden-xs hidden-sm " ng-class="carouselBg">
      <uib-carousel  interval="myInterval" active=0 no-wrap="noWrapSlides">

      <uib-slide ng-repeat="slide in sample" index="$index" >

        <div ng-repeat="sarray in slide" class="col-md-6 " data-wrap="false">
          <premium-product-display details=sarray></premium-product-display>
         </div>
          </uib-slide>
      </uib-carousel>
    </div>


    <div class="col-xs-10 col-xs-offset-1 visible-xs visible-sm">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides3" index="$index">
          <premium-product-display details=slide></premium-product-display>
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
  <br>
  <br>



  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Popular Categories</h2>
        <hr class="small">
        <br>
        <br>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x PopCats" ui-sref="companies.list({cat: 'Home'})">
                                <i class="fa fa-home fa-stack-1x favIcons"></i>
                            </span>
              <h4>                                    <span class="Cat-name" ui-sref="companies.list({cat: 'Home'})">HOME</span>
                                </h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x PopCats" ui-sref="companies.list({cat: 'Automobile'})">
                                <i class="fa fa-car fa-stack-1x favIcons"></i>
                            </span>
              <h4>                                    <span class="Cat-name" ui-sref="companies.list({cat: 'Automobile'})">AUTOMOBILE</span>
                                </h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x PopCats" ui-sref="companies.list({cat: 'Healthcare'})">
                                <i class="fa fa-heart-o fa-stack-1x favIcons"></i>
                            </span>
              <h4>                                    <span class="Cat-name" ui-sref="companies.list({cat: 'Healthcare'})">HEALTH CARE</span>
                                </h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item text-center">
              <span class="circle-styles fa-stack fa-4x PopCats" ui-sref="companies.list({cat: 'Utilities'})">
                                <i class="fa fa-file-text-o fa-stack-1x favIcons"></i>
                            </span>
              <h4>                                    <span class="Cat-name" ui-sref="companies.list({cat: 'Utilities'})">UTILITIES</span>
                                </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>



  <div class="row text-center form-group">
    <button type="submit" class="btn-add-company btn-search-products" ng-click="getSearchedProducts(homeSearchDetails)">Show All Products</button>
  </div>


</section>

-->
