<div ng-controller="ContactUsController">
  <tb-header-image image="../../../../modules/core/client/img/contact.jpg" opacity="1" maintitle="Contact US" subtitle="">
  </tb-header-image>
  <div class="container">
    <div class="row col-md-offset-1 col-md-8" style="margin-top:40px;font-size: xx-large;">
      <p>Leave a Message :::</p>
    </div>
    <div class="row col-md-offset-1 col-md-8">
      <p>The following example places the vertical pill menu inside the last column. So, on a large screen the menu will be displayed to the right. But on a small screen, the content will automatically adjust itself into a single-column layout:</p>
    </div>
    <div class="row col-md-offset-1 col-md-8" style="margin-top:40px;">
      <form role="form ">
        <div class="row col-md-4 col-sm-6" style="margin-right: 10px;">
          <md-input-container>
            <label class="label-styles">Product Name*</label>
            <input class="input-styles" class="form-control " type="text" ng-model="user.firstName">
          </md-input-container>
        </div>
        <div class="row col-md-4 col-sm-6" style="margin-right: 10px;">
          <md-input-container>
            <label class="label-styles">Email*</label>
            <input class="input-styles" type="email" class="form-control " ng-model="user.firstName">
          </md-input-container>
        </div>

        <div class="row col-md-4  hidden-sm hidden-xs">
          <md-input-container>
            <label class="label-styles">Phone*</label>
            <input class="input-styles" class="form-control " type="tel" ng-model="user.firstName">
          </md-input-container>
        </div>

        <div style="width: 97%;">
          <md-input-container class="row col-md-12">
            <label class="label-styles-msg">Message</label>
            <input class="input-styles" class="form-control " type="tezt" ng-model="user.firstName">
          </md-input-container>
        </div>


        <div class="row col-md-12">
          <md-button class="md-raised md-primary btn-styles-contact">SEND MESSAGE <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i></md-button>

        </div>
        <!--<div class="row col-md-12">
          <button type="submit" class="btn btn-primary col-md-3" style="background-image:none;background-color:#4D4DB4;padding: 15px;">SEND MESSAGE <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i>
          </button>
        </div>-->
      </form>
    </div>
    <div class="row col-md-offset-1 col-md-8 contactUs_footer_text">

      <p>If you would like to list your products in thingsberry.com, please use the
        <a href="#" class="get_list_link_bttn">Get Listed</a> link.
      </p>
    </div>
  </div>
</div>
