<div ng-controller="ContactUsController">
  <tb-header-image image="../../../../modules/core/client/img/finalcont.jpg" opacity="1" state="contactUs" maintitle="Contact Us :::" subtitle="" class="img-responsive image_In_mobile">
  </tb-header-image>

  <div class="container">
    <update-title title=" Contact Us Thingsberry"></update-title>
    <update-meta name="description" content="Get in touch with thingsberry.com"></update-meta>
    <update-meta property="og:title" content="Contact Us Thingsberry "></update-meta>
    <update-meta itemprop="description" content="Get in touch with thingsberry.com"></update-meta>
    <update-meta property="og:image" content="http://www.thingsberry.com/modules/core/client/img/shareFinalcont.jpg"></update-meta>
    <update-meta property="og:url" content="{{path}}"></update-meta>

    <!--  <update-meta property="twitter:title" content="Thingsberry ContactUs"></update-meta>
    <update-meta property="twitter:description" content="Get in touch with thingsberry.com"></update-meta>
    <update-meta property="twitter:url" content="{{path}}"></update-meta>-->


    <div class="row" style="margin-top:40px;">
      <div class="col-md-12">
        <h2>Leave a Message :::</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Thank you for visiting Thingsberry.com. We work hard to provide you with the most comprehensive, unbiased information about connected products available on the web. Please use the form below to contact us with any questions or comments.</p>
      </div>

    </div>
    <div class="row col-md-12" style="margin-top:40px;">
      <form name="contactUsForm" ng-submit="contactUs(contactUsForm.$valid)" novalidate autocomplete="off">
        <div class="row">
          <div class="" style="margin-right: 10px;">
            <md-input-container class=" col-md-4 col-sm-6 col-xs-12">
              <label class="label-styles"><b>Name</b></label>
              <input class="input-styles" class="form-control " type="text" id="name" ng-model="contact.name">
            </md-input-container>
          </div>
          <div class="" style="margin-right: 10px;">
            <md-input-container class="col-md-4 col-sm-6 col-xs-12 ">
              <label class="label-styles"><b>Email</b></label>
              <input class="input-styles" type="email" name="email" id="email" class="form-control " ng-model="contact.email" required ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="contactUsForm.email.$error">
                <div ng-message="required">Email is required.</div>
                <div ng-message-exp="['required','pattern']">
                  Your email must be look like valid email address.
                </div>
              </div>
            </md-input-container>
          </div>

          <div class="  hidden-sm hidden-xs">
            <md-input-container class="col-md-4">
              <label class="label-styles"><b>Phone</b></label>
              <input class="input-styles" class="form-control " id="phone" type="tel" ng-model="contact.phone">
            </md-input-container>
          </div>
        </div>

        <div class="row">
          <md-input-container class=" col-md-12 col-sm-12 col-xs-12">
            <label class="label-styles-msg"><b>Message</b></label>
            <input class="input-styles" class="form-control" name="message" id="message" type="text" ng-model="contact.message" required>
            <div ng-messages="contactUsForm.message.$error">
              <div ng-message="required">Message is required.</div>
            </div>
          </md-input-container>
        </div>

        <div class="row">
          <div class=" col-md-12">
            <md-button type="submit" class="md-raised md-primary btn-styles-contact" ng-disabled="contactUsForm.$invalid">SEND MESSAGE <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i></md-button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>

        <!--<div class="row col-md-12">
          <button type="submit" class="btn btn-primary col-md-3" style="background-image:none;background-color:#4D4DB4;padding: 15px;">SEND MESSAGE <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i>
          </button>
        </div>-->
      </form>
    </div>
    <div class="row col-md-12 contactUs_footer_text">

      <p>If you would like to list your products in thingsberry.com, please use the
        <a ui-sref="getListed" class="get_list_link_bttn">Get Listed</a> link.
      </p>
    </div>
  </div>
</div>
