
            <div class="row" style="height:215px;padding-top: 7px;margin-left: 10px;">


                <div class="col-md-2 col-sm-4 col-xs-6">



                    <div class="cus">

                        <a href="http://www.w3schools.com"  style="font-family:Impact;font-size: 19px; margin-left: -29px;">{{ourclients[0]}}</a>

                    </div>


                </div>

                 <div class="col-md-2 col-sm-4 col-xs-6">

                    <div class="cus">

                        <a href="#" style=" margin-left: -29px;">{{ourclients[1]}}</a>

                     </div>


                </div>

                 <div class="col-md-2 col-sm-4 col-xs-6">

                    <div class="cus">

                        <a href="#" style="letter-spacing:5px; margin-left: -29px;">NORD <br>HAUS</a>

                     </div>


                </div>

                 <div class="col-md-2 col-sm-4 col-xs-6">

                    <div class="cus">

                        <a href="#" style="letter-spacing:-1px; margin-left: -43px;">{{ourclients[2]}}</a>

                     </div>


                </div>
                  <div class="col-md-2 col-sm-4 col-xs-6">

                    <div class="cus">

                        <a href="#" style="margin-left: -29px;">{{ourclients[3]}}</a>

                      </div>


                </div>
                  <div class="col-md-2 col-sm-4 col-xs-6">

                    <div class="cus">

                        <a href="#" style="letter-spacing:3px; margin-left: -40px;">{{ourclients[4]}}</a>

                      </div>


                </div>

        </div>
