<div ng-controller="ContactUsController">
  <div class="row">
    <img src="modules/core/client/img/getlisted copy.jpg" class="getlisting_img">

    <div class="row col-md-offset-2 contactUs_text" style="left:40px;">
      <h1 style="margin-top: 52px;font-size: 38px;">Get Listed :::</h1>
    </div>
  </div>

  <div class=" row container col-md-offset-2">
    <div class="  col-md-8" style="font-size: xx-large;">
      <p>Become our partner :::</p>
    </div>
    <div class=" col-md-8">
      <p>Many consumers use thingsberry.com everyday to make purchase decisions.if you would like to get your product listed,please submit the detailsusing below form .we will review the details and add to the product listing.</p>
    </div>
    <div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-inline-form">

            <div>
              <form name="getListedForm" ng-submit="getListedEmail(getListedForm.$valid)" novalidate autocomplete="off">
                <div class="row">

                  <md-input-container class="col-md-6">
                    <label class="label-styles">Product Name</label>
                    <input class="input-styles" type="text" id="productName" ng-model="getListed.productName" required>
                  </md-input-container>


                  <md-input-container class="col-md-6">
                    <label class="label-styles">Email</label>
                    <input class="input-styles" type="email" id="email" ng-model="getListed.email" required>
                  </md-input-container>
                </div>

                <div class="row">

                  <md-input-container class="col-md-6">
                    <label class="label-styles">Contact Name</label>
                    <input class="input-styles" type="text" id="contact_name" ng-model="getListed.contactName" required>
                  </md-input-container>

                  <md-input-container class="col-md-6">
                    <label class="label-styles">Contact Phone</label>
                    <input class="input-styles" type="tel" id="contact phone" ng-model="getListed.contactPhone" required>
                  </md-input-container>

                </div>

                <div class="row">
                  <md-input-container class="col-md-12">
                    <label class="label-styles">Product URL</label>
                    <input class="input-styles" type="url" id="productURL" ng-model="getListed.productURL" required>
                  </md-input-container>
                </div>

                <div class="row">
                  <md-input-container class="col-md-12">
                    <label class="label-styles">Description*</label>
                    <input class="input-styles" type="text" id="Description" ng-model="getListed.description" required>
                  </md-input-container>
                </div>
                <div class="row">
                  <div>
                    <md-button type="submit" class="md-raised md-primary btn-styles" ng-disabled="getListedForm.$invalid">SUBMIT <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i></md-button>
                  </div>
                  <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="error"></strong>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6">

          <img ng-src="modules/core/client/img/getlist-side-img.jpg" style="height: 329px;width:300px;margin-top: 30px;">


        </div>
      </div>



      <!-- <form name="getListedForm" ng-submit="getListedEmail(getListedForm.$valid)" novalidate autocomplete="off">-->
      <!--<div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-6 col-sm-offset-1 col-sm-10  col-xs-12">
        <div class="form-group floating-label-form-group" style="margin:0 15px">
          <label>Product Name&#42;</label>
          <input type="text" class="form-control" id="productName" placeholder="Product Name&#42;" ng-model="getListed.productName" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-6 col-sm-offset-1 col-sm-10  col-xs-12">
        <div class="form-group floating-label-form-group" style="margin:0 15px">
          <label>Product URL&#42;</label>
          <input type="text" class="form-control" id="productURL" placeholder="Product URL&#42;" ng-model="getListed.productURL" required>
        </div>-->
      <!-- </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-6 col-sm-offset-1 col-sm-10  col-xs-12">
        <div class="form-group floating-label-form-group" style="margin:0 15px">
          <label>Description&#42;</label>
          <textarea class="form-control" rows="6" id="Description" placeholder="Description&#42;" ng-model="getListed.description" required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-md-6 col-sm-offset-1 col-sm-10  col-xs-12">
        <div class="form-group floating-label-form-group" style="margin:0 15px">
          <label>Contact Name&#42;</label>
          <input type="text" class=" form-control" id="contact_name" placeholder="Contact Name&#42;" ng-model="getListed.contactName" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Email&#42;</label>
          <input type="email" class=" form-control" id="email" placeholder="Email&#42;" ng-model="getListed.email" required>
        </div>
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Contact Phone</label>
          <input type="text" class="form-control" id="contact phone" placeholder="Contact Phone" ng-model="getListed.contactPhone">
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="form-group">
        <div class="text-center col-md-offset-5 col-md-2">
          <div class="text-center form-group">
            <button type="submit" class="btn btn-custom-style" ng-disabled="getListedForm.$invalid">SUBMIT</button>
          </div>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>
    </div>
  </form>
-->


      <!--<div class="visible-xs col-xs-12" style="background-color:white;">



        <div layout="column" ng-cloak class="md-inline-form" style="background-color:white;">

          <md-content layout-padding>
            <div>
              <form name="userForm">

                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Product Name*</label>
                    <input ng-model="user.firstName">
                  </md-input-container>


                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Email*</label>
                    <input ng-model="user.firstNam">
                  </md-input-container>

                </div>

                <div layout-gt-sm="row">

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Contact Name*</label>
                    <input ng-model="user.firstNa">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Contact Phone*</label>
                    <input ng-model="user.first">
                  </md-input-container>

                </div>


                <div layout-gt-lg="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Product URL*</label>
                    <input ng-model="user.firsName">
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Description*</label>
                    <input ng-model="user.frstName">
                  </md-input-container>
                </div>
              </form>
            </div>


            <md-button class="md-raised md-primary material-cust-large-button">SEND MESSAGES</md-button>






          </md-content>






        </div>







      </div>-->






      <!--<div class="visible-md col-md-12  jumbotron text-center" style="height:249px;margin-bottom:-19px;">


        <img ng-src="modules/core/client/img/getlist-side-img.jpg" style="height:249px;margin-top: 53px;width: 938px;opacity: 0.9;margin-left: -57px;">



      </div>-->




      <!--<div class="visible-sm col-sm-12">

        <img ng-src="modules/core/client/img/getlist-side-img.jpg" style="margin-top: 30px;
    margin-left: 26px;
    width: 700px;
    height: 300px;">

      </div>-->


      <!--<div class="row">

        <div class="container">

          <div class="hidden-xs hidden-sm hidden-md col-lg-4 ">
            <md-button class="md-raised md-primary material-cust-large-button" style="width:105px;border-radius:2px;background-color:#3b5998;text-align-center;font-size:15px;height: 39px;margin-left: -487px;    padding-top: 3px;">SUBMIT</md-button>

          </div>

          <div class="visible-sm  col-sm-12 ">

            <md-button class="md-raised md-primary material-cust-large-button" style="width:167px;border-radius:2px;text-align-center;font-size:15px;height: 39px;padding-top: 6px;margin-top: -373px;margin-left: 24px;">SEND MESSAGES</md-button>

          </div>

          <div class=" visible-md  col-md-12">
            <md-button class="md-raised md-primary material-cust-large-button" style="    margin-top: -216px;">SEND MESSAGES</md-button>

          </div>

        </div>

      </div>-->




    </div>


  </div>



</div>
