<div ng-controller="ContactUsController" style="background:#f2f2f2">

  <tb-header-image image="../../../../modules/core/client/img/finalget4.jpg" opacity="1" state="getListed" maintitle="Get listed with us :::" subtitle="" class="img-responsive image_In_mobile">
  </tb-header-image>
  <!--class="col-xs-12 visbile-xs hidden-sm hidden-md"-->
  <update-title title="Get Listed Thingsberry"></update-title>
  <update-meta name="description" content="Add your Products on thingsberry.com"></update-meta>
  <update-meta property="og:title" content="Get Listed Thingsberry"></update-meta>
  <update-meta itemprop="description" content="Add your Products on thingsberry.com"></update-meta>
  <update-meta property="og:image" content="http://qa.thingsberry.com/modules/core/client/img/shareFinalget4.jpg"></update-meta>
  <update-meta property="og:url" content="{{path}}"></update-meta>

  <!-- <update-meta property="twitter:title" content="Thingsberry Get-Listing"></update-meta>
  <update-meta property="twitter:description" content="Add your Products on thingsberry.com"></update-meta>
  <update-meta property="twitter:url" content="{{path}}"></update-meta>-->



  <div class="container">
    <div class="row" style="margin-top:40px;font-size: xx-large;">
      <div class="col-md-12 getList_In_Xs">
        <p>Become our partner :::</p>
      </div>

    </div>

    <div class="row  col-md-12" style="width:103%">
      <p>Many consumers use Thingsberry.com everyday to find connected products and make purchase decisions. If you would like to get your product listed with us, please submit the details using the below form. We will review and get back with you. </p>
    </div>

    <div class="row " style="margin-top:40px;">

      <div class="col-md-8">

        <form name="getListedForm" ng-submit="getListedEmail(getListedForm.$valid)" novalidate autocomplete="off">

          <div class="row ">

            <md-input-container class=" col-md-6 col-xs-12  col-sm-6 col-lg-6">
              <label class="label-styles"><b>Product Name</b></label>
              <input class="input-styles" type="text" name="productName" id="productName" ng-model="getListed.productName" required>
              <div ng-messages="getListedForm.productName.$error">
                <div ng-message="required">Product Name is required.</div>
              </div>
            </md-input-container>


            <md-input-container class="col-md-6 col-xs-12  col-sm-6 col-lg-6">
              <label class="label-styles"><b>Email</b></label>
              <input class="input-styles" type="email" id="email" name="email" ng-model="getListed.email" required ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="getListedForm.email.$error">
                <div ng-message="required">Email is required.</div>
                <div ng-message-exp="['required','pattern']">
                  Your email must be look like valid email address.
                </div>
              </div>
            </md-input-container>
          </div>

          <div class="row ">

            <md-input-container class="col-md-6 col-xs-12 col-sm-6 ">
              <label class="label-styles"><b>Contact Name</b></label>
              <input class="input-styles" type="text" name="contactName" id="contact_name" ng-model="getListed.contactName" required>
              <div ng-messages="getListedForm.contactName.$error">
                <div ng-message="required">Contact Name is required.</div>
              </div>
            </md-input-container>

            <md-input-container class="col-md-6 col-xs-12 col-sm-6">
              <label class="label-styles"><b>Contact Phone</b></label>
              <input class="input-styles" type="tel" name="contactPhone" id="contact phone" ng-model="getListed.contactPhone" required>
              <div ng-messages="getListedForm.contactPhone.$error">
                <div ng-message="required">Contact Phone is required.</div>
                <div ng-message-exp="['required','maxlength']">
                  Your contact phone must not be in 10 numbers.
                </div>
              </div>
            </md-input-container>

          </div>

          <div class="row ">
            <md-input-container class="col-md-12 col-sm-12 col-xs-12 ">
              <label class="label-styles"><b>Product URL</b></label>
              <input class="input-styles" type="url" id="productURL" name="productURL" ng-model="getListed.productURL" required ng-pattern="/^.+://.+\..+$/">
              <div ng-messages="getListedForm.productURL.$error">
                <div ng-message="required">Product URL is required.</div>
                <div ng-message-exp="['required','pattern']">
                  Your URL must be look like (https://example.com).
                </div>
              </div>
            </md-input-container>
          </div>

          <div class="row ">
            <md-input-container class="col-md-12 col-sm-12 col-xs-12 ">
              <label class="label-styles"><b>Affliate Link</b></label>
              <input class="input-styles" type="url" id="affliateLink" name="affliateLink" ng-model="getListed.affliateLink" required ng-pattern="/^.+://.+\..+$/">
              <div ng-messages="getListedForm.affliateLink.$error">
                <div ng-message="required">Affliate Link is required.</div>
                <div ng-message-exp="['required','pattern']">
                  Your URL must be look like (https://example.com).
                </div>
              </div>
            </md-input-container>
          </div>

          <div class="row ">
            <md-input-container class="col-md-12 col-sm-12 col-xs-12">
              <label class="label-styles"><b>Description</b></label>
              <input class="input-styles" type="text" name="description" id="Description" ng-model="getListed.description" required>
              <div ng-messages="getListedForm.description.$error">
                <div ng-message="required">Description is required.</div>
              </div>
            </md-input-container>
          </div>
          <div class="row ">
            <md-input-container class="col-md-12 col-sm-12 col-xs-12">
              <label class="label-styles"><b>Message</b></label>
              <input class="input-styles" type="text" name="message" id="Message" ng-model="getListed.message" required>
              <div class="hint">Enter any notes to admin to help list this product</div>
              <div ng-messages="getListedForm.message.$error">
                <div ng-message="required">Message is required.</div>
              </div>
            </md-input-container>
          </div>
          <div class="row ">

            <div class=" col-md-3 col-sm-4">

              <md-button type="submit" class="md-raised md-primary btn-styles-contact col-xs-12" ng-disabled="getListedForm.$invalid">SUBMIT <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i></md-button>

            </div>

            <!--<div class="row  hidden-lg hidden-md visible-xs-sm  col-xs-12 col-sm-12 ">

              <md-button class="md-raised md-primary col-xs-12 text-center" ng-disabled="getListedForm.$invalid">SEND MESSAGES <i class="fa fa-paper-plane" aria-hidden="true" style="transform:rotate(55deg);"></i></md-button>
            </div>-->
          </div>


        </form>
      </div>



      <div class=" col-md-4  hidden-xs col-sm-12 ">

        <img ng-src="modules/core/client/img/getlist-side-img.jpg" class="getlist_img">


      </div>

    </div>




  </div>

</div>
