
<div ng-init="getPremiumProducts()">


   <div  class="hidden-sm hidden-xs col-md-5 col-lg-5  col-md-offset-1">
                    <div class="custom" style="background-color:transparent;">



                      <div class="carousel-inner" role="listbox">

                          <div class="item active">

               <uib-carousel interval="myInter" active="active">
                   <uib-slide ng-repeat="slide in slides1"  index="$index">


                       <premium-products-display details="slide"></premium-products-display>



            </uib-slide>
        </uib-carousel>

            </div>

    </div>


                        </div>
                </div>


              <div class="visible-sm  col-sm-8 col-sm-offset-2">
                    <div class="custom" style="background-color:transparent;margin-top: 10px;min-height:386px;">



                      <div class="carousel-inner" role="listbox" >

                          <div class="item active">

               <uib-carousel interval="myInter" active="active">
                   <uib-slide ng-repeat="slide in slides1" index="$index">

                        <premium-products-display details="slide"></premium-products-display>

            </uib-slide>
        </uib-carousel>

            </div>

    </div>




        </div>
    </div>



                 <div class="visible-xs  col-xs-12">
                    <div class="custom" style="background-color:transparent;margin-top: 10px;margin-left: -28px;">



                      <div class="carousel-inner" role="listbox" >

                          <div class="item active">

               <uib-carousel interval="myInter" active="active">
                   <uib-slide ng-repeat="slide in slides1" index="$index">


                        <premium-products-display details="slide"></premium-products-display>

            </uib-slide>
        </uib-carousel>

            </div>

    </div>

                       </div>
                </div>


</div>


