<div class="container privacy_terms" style="">
  <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1

privacy_terms_Background">
    <h3 align="center"><b>Privacy Policy : Thingsberry.com</b></h3>
    <div class="row" style="padding:25px;">
      <h5><b>Welcome</b></h5>
      <p>Welcome and thank you for using Thingsberry.com. Your privacy is important to us.
        <br>
        <br> Our Privacy Policy explains the policies and procedures we have in place for the collection, handling, and safeguarding of personally identifiable information.
        <br>
        <br> By using Thingsberry.com you agree to us collecting and using your information according to our privacy policy. The terms of this Privacy Policy only apply to Thingsberry.com and the services we provide. It does not apply to any linked websites.
      </p>

      <br>
      <h5><b>What type of personal information do we collect?</b></h5>
      <p>Mint Maxer LLC collects personal information about you through our website, Thingsberry.com. Personally Identifiable Information is information that can identify an individual or could be used to contact or locate them.
        <br>
        <br> We collect your first and last name, email address, and password.
      </p>

      <br>
      <h5><b>How do we collect personal information?</b></h5>
      <p>When you create an account with us you provide your name and email address.
        <br>
        <br>Also, we and our third party partners, may use cookies, web beacons, tags, scripts, local shared objects such as HTML5 and Flash (sometimes called "flash cookies"), advertising identifiers (including mobile identifiers such as Apple’s IDFA or Google’s Advertising ID) and similar technology ("Cookies") in connection with your use of the Service, third party websites, and mobile applications.
      </p>

      <br>
      <h5><b>How do we use personal information?</b></h5>
      <p>We use this information to provide you with news, send you updates when products are added to or made available on the market, or promotional information.
      </p>

      <br>
      <h5><b>When may we disclose your personal information?</b></h5>
      <p>We give certain third parties access to personally identifiable information. They are our subcontractors and they assist us with the operation of Thingsberry.com.
        <br>
        <br> They all sign contracts representing they will safeguard your information with measures that are similar to the ones we use. YOU ARE NOT A THIRD PARTY BENEFICIARY OF THOSE CONTRACTS.
        <br>
        <br> We may disclose personally identifiable information to attorneys or law enforcement agencies to address violations of our Terms and Conditions or illegal conduct. We also disclose any information demanded in a court order or required by law or to prevent imminent harm to persons or property.
        <br>
        <br> We may also share your information in the event of the merger or sale of our company, or a sale of all or substantially all our assets, or in bankruptcy.
      </p>

      <br>
      <h5><b>How do we store your personal information?</b></h5>
      <p>We store your data in secured back-end database running in cloud.
        <br>
        <br> However, nothing is fail proof. We cannot and do not guarantee complete security even with these measures.
        <br>
        <br> By using Thingsberry.com:
        <br>
        <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; i. &nbsp; You agree and accept that we have made no guarantees; and
        <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ii. &nbsp; You use this website at your own risk.
      </p>

      <br>
      <h5><b>How can you access your personal information?</b></h5>
      <p>You can access your personal information through your account. You can’t access non- identifiable information from cookies.
      </p>

      <br>
      <h5><b>Choices regarding control of your personal information</b></h5>
      <p>You can access your Thingsberry.com account to update your information or terminate your account with us. You may also disable cookies through your browser.
      </p>

      <br>
      <h5><b>Cookies </b></h5>
      <p>Cookies are assigned to your internet browser to enable many features available on our website that assist you by providing a record of your preferences.
        <br>
        <br> Cookies may have unique identifiers, and reside, among other places, on your computer or mobile device, in emails we send to you, and on our web pages.
        <br>
        <br> Cookies may transmit information about you and your use of the Service, such as your browser type, search preferences, IP address, data relating to advertisements that have been displayed to you or that you have clicked on, and the date and time of your use.
        <br>
        <br> Cookies may be persistent or stored only during an individual session.
      </p>

      <br>
      <h5><b>How Cookies Work </b></h5>
      <p>Cookies are very small text files written by an Internet server to a customer’s browser when information is exchanged. Cookies only contain information that the server computer already knew. Cookies can only be read by the server domain that created and placed them.
      </p>

      <br>
      <h5><b>Children</b></h5>
      <p>We do not knowingly collect information on children under 13 years old.
        <br>
        <br> You must be at least 18 years old to create an account with Thingsberry.com.
        <br>
        <br> If parents or guardians allow children to use their Thingsberry.com they are responsible for all of their activities and behavior on the website.
      </p>

      <br>
      <h5><b>Information you give to others</b></h5>
      <p>We are not responsible for information you may post or give to a third party. We can’t control how a third party will use any information that you provide to them.
        <br> We strongly advise against posting your phone number, address, email or other personal information.
      </p>

      <br>
      <h5><b>Updates to the Privacy Policy</b></h5>
      <p>Mint Maxer LLC may modify or change this Privacy Policy at any time. The may be done with or without notice. The new Privacy Policy will become effective the date it is posted, and the new effective date will be listed on the bottom of the page.
        <br>
        <br> You are responsible for checking our Privacy Policy for modifications and updates.
      </p>

      <br>
      <h5><b>California Residents</b></h5>
      <p>California Civil Code Section 1798.83 permits our visitors who are California residents to request certain information regarding the disclosure of personal information to third parties for their direct marketing purposes. To make a request, please send an email to infor@thingsberry.com.
      </p>

      <br>
      <h5><b>Customer Service</b></h5>
      <p>You can contact us with questions, comments, or complaints on our Contact Us page.
        <br>
        <br>Please provide your contact information and a brief written description of your complaint.
      </p>

    </div>
  </div>
</div>
