


<div class=" hidden-xs visible-lg-sm-md">

    <p class="firstcarouselP"> {{details.text}} <br> <span style="font-size:15px;"> {{details.desc| limitTo: 120}} </span> </p>






<a ng-href="{{details.proAddress}}" target="_blank"> <img class="premium-product-img" ng-src="{{proImgUrl()}}"> </a>



   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>
                            <a ng-href="{{details.web}}">


    <button type="button" class="btn btn-default" style="text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-left:32px;margin-top: 249px;width: 148px;border:none;background: #3b5998;height: 37px;
    border-radius: 4px;">READ MORE</button>



                            </a>
          </div>
   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>

                            <a ng-href="{{details.web}}">

    <input type="button" value="VISIT WEBSITE" class="form-control"  placeholder="VISIT WEBSITE" style="background-color:grey;text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-left:219px;margin-top: 249px;width: 148px;border-color:white;border-radius: 4px;">

                            </a>

 </div>
</div>


<div class=" visible-xs col-xs-12">

   <p style="width:430px;color:white;font-size:24px;padding-top:12px;height:20px;margin-left: -49px;"> {{details.text}} <br> <span style="font-size:15px; margin-left:39px;"> {{details.desc| limitTo: 80}} </span> </p>



<a ng-href="{{details.proAddress}}" target="_blank"> <img class="premium-product-img" ng-src="{{proImgUrl()}}"> </a>



   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>
                            <a ng-href="{{details.web}}">


    <button type="button" class="btn btn-default" style="text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-top: 249px;width: 148px;border:none;background: #3b5998;    height: 37px;
    border-radius: 4px;margin-left:-18px;">READ MORE</button>

                            </a>
          </div>
   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>

                            <a ng-href="{{details.web}}">

    <input type="button" value="VISIT WEBSITE" class="form-control"  placeholder="VISIT WEBSITE" style="background-color:grey;text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-left: 163px;margin-top: 249px;width: 148px;border-color:white;border-radius: 4px;">

                            </a>
          </div>

</div>

























<!--


<div class=" hidden-xs visible-lg-sm-md">

    <p class="firstcarouselP"> {{details.text}} <br> <span style="font-size:15px;padding-left:17px;"> {{details.desc| limitTo: 120}} </span> </p>






<a ng-href="{{details.proAddress}}" target="_blank"> <img class="premium-product-img" ng-src="{{proImgUrl()}}"> </a>



   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>
                            <a ng-href="{{details.web}}">


    <button type="button" class="btn btn-default" style="text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-left:32px;margin-top: 249px;width: 148px;border:none;background: #3b5998;height: 37px;
    border-radius: 4px;">READ MORE</button>



                            </a>
          </div>
   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>

                            <a ng-href="{{details.web}}">

    <input type="button" value="VISIT WEBSITE" class="form-control"  placeholder="VISIT WEBSITE" style="background-color:grey;text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-left:219px;margin-top: 249px;width: 148px;border-color:white;border-radius: 4px;">

                            </a>

 </div>
</div>


<div class=" visible-xs col-xs-12">

   <p style="width:430px;color:white;font-size:24px;padding-top:12px;height:20px;margin-left: -49px;"> {{details.text}} <br> <span style="font-size:15px; margin-left:39px;"> {{details.desc| limitTo: 80}} </span> </p>



<a ng-href="{{details.proAddress}}" target="_blank"> <img class="premium-product-img" ng-src="{{proImgUrl()}}"> </a>



   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>
                            <a ng-href="{{details.web}}">


    <button type="button" class="btn btn-default" style="text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-top: 249px;width: 148px;border:none;background: #3b5998;    height: 37px;
    border-radius: 4px;margin-left:-18px;">READ MORE</button>

                            </a>
          </div>
   <div class="col-xs-1" style="padding-right: 2px;">
                       <label for="ex1"></label>

                            <a ng-href="{{details.web}}">

    <input type="button" value="VISIT WEBSITE" class="form-control"  placeholder="VISIT WEBSITE" style="background-color:grey;text-align:center;color:white;cursor:pointer;border-radius: 1%;margin-left: 126px;margin-top: 249px;width: 148px;border-color:white;border-radius: 4px;">

                            </a>
          </div>

</div>

-->
