<div class="container privacy_terms">

  <div class="row col-md-offset-1 col-sm-offset-1 ">
    <span class="backBtn back_on_sngle_prdct_view " onclick="history.back(-1)"><span class="back_to_prdcts"></span></span>
  </div>
  <br>

  <div class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1 privacy_terms_Background">
    <h3 align="center"><b>Terms & Conditions for Thingsberry.com </b></h3>
    <div class="row" style="padding:25px;">
      <h5><b>Welcome</b></h5>
      <p>Hello! Welcome to Thingsberry.com.We are your one stop information portal for the Internet of Things (IoT) and related products on the market.
        <br>
        <br>Thank you for visiting our site and we hope you find everything you need.
      </p>

      <br>
      <h5><b>Please read the Terms and Conditions carefully, and make sure you understand

them.</b></h5>
      <p>These are our guidelines and rules for using Thingsberry.com, which is owned and run by Mint Maxer LLC. The terms “we” and “Thingsberry.com” refer to Mint Maxer LLC.
        <br>
        <br>Please do not use Thingberry.com if you don’t agree with and/or accept the terms of Terms and Conditions of our website.
        <br>
        <br>You are agreeing to be legally bound to these terms by browsing Thingsberry.com, by creating an account with Thingsberry.com, or by asking to be listed on Thingsberry.com.

      </p>

      <br>
      <h5><b>Using Thingsberry.com</b></h5>
      <p>The use of Thingsberry.com is limited to expressly permitted purposes. You promise you will not use Thingberry.com for any unlawful purpose or contrary to its Terms and Conditions.
        <br>
        <br>Unless specified consumer use of Thingsberry.com is for non-commercial and informational use.
        <br>
        <br>Business use of Thingsberry.com is for promotional and informational use.
        <br>
        <br>You must obtain our express consent to use the website in a way not stated. You may not change, copy, reproduce, distribute, create derivative work from, post, license, or sell information, content, software, products or services related to Thingsberry.com.

      </p>

      <br>
      <h5><b>Termination</b></h5>
      <p>You can delete your account with Thingsberry.com or stop using the website at any time.
      </p>

      <br>
      <h5><b>Access to Thingsberry.com</b></h5>
      <p>You need to be at least 13 years old to browse this website. We don’t knowingly collect personally identifiable information from anyone under the age of 13.
        <br>
        <br>You must not be prohibited from using or receiving our website by national laws.

      </p>

      <br>
      <h5><b>Membership</b></h5>
      <p>You will be asked to provide your first name, last name and email address to create an account with Thingsberry.com.
        <br>
        <br>You will also be asked to provide a contact name and telephone number to list your product on Thingsberry.com.

      </p>

      <br>
      <h5><b>Age Restriction</b></h5>
      <p>You need to be 18 years or older to create an account with Thingsberry.com. By opening an account with Thingsberry.com you are declaring that you’re at least 18 years old. You will need to use the account of a parent or legal guardian who will be responsible for all your activities if you are under 18 years old. PLEASE GET THEIR PERMISSION BEFORE USING THEIR ACCOUNT.
      </p>

      <br>
      <h5><b>Third party consent</b></h5>
      <p>If you create an account or ask that a product be listed on behalf of someone else, you are representing that you have the legal authority to do so and to bind them to our Terms and Conditions.
      </p>

      <br>
      <h5><b>Your responsibility to Thingsberry.com  </b></h5>
      <p>When you open an account or list a product on Thingsberry.com you’re responsible for providing us with information that is complete, up-to-date, and factual.
        <br>
        <br>You are also required to keep your account information up-to-date.
        <br>
        <br>Mint Maxer LLC reserves the right to suspend or terminate an account or listing that is not complete, up-to-date, or factual.
        <br>
        <br>This means you may be denied access toThingsberry.com and its resources at any time. This is at the sole discretion of Mint Maxer LLC.
      </p>

      <br>
      <h5><b>Posting on Thingsberry.com</b></h5>
      <p> You agree to only post, send or receive information that is related to the content and services that Thingberry.com provides.
      </p>

      <br>
      <h5><b>Submissions to Thingsberry.com</b></h5>
      <p>If you submit content to or generate content on Thingsberry.com you are agreeing to the following:
        <br>
        <br>You grant Mint Maxer LLC a royalty-free, unending, irreversible, worldwide, transferable, non-exclusive right and license to use, replicate, change, adjust, issue, translate, create derivative works from, dispense, publicly perform, and publicly exhibit all content, remarks, suggestions, ideas, graphics, or information without any royalties, consideration to you or credit.
        <br>
        <br>And a license to combine any submission with other works in any form, media, or technology now used or developed later. Mint Maxer LLC will not treat submitted information as confidential. The submission may be used for branding, advertising, or marketing. We will not be required to pay any royalties, any other consideration or credit.
        <br>
        <br>You represent you have the legal right to grant this license for submitted or generated content by posting on content on Thingsberry.com.
        <br>
        <br>Please do not submit content to Thingsberry.com if you do not want to grant these rights.

      </p>

      <br>
      <h5><b>Suspension or termination of your account</b></h5>
      <p>Mint Maxer LLC reserves the right to suspend or terminate your account at any time and at its sole discretion. We may use IP mapping, technological barriers or other mean available to stop unauthorized access to our site if your account is terminated.
        <br>
        <br>We also reserve the right to edit, delete or decline content at our discretion.
        <br>
        <br>Your account will be suspended or terminated if you participate in any of the activities listed below. This is not a complete list of activities that will cause your account to be suspended or terminated.

      </p>

      <br>
      <h5><b>Prohibited conduct on Thingsberry.com</b></h5>
      <p>You are not allowed to do the following while onThingsberry.com:
        <br>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i.&nbsp;&nbsp;&nbsp; Post information not directly connected to the website;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ii.&nbsp;&nbsp; Post vulgar, obscene, pornographic, or indecent material;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii.&nbsp; Post material owned by other people that is protected by intellectual property laws, or by rights of privacy;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iv.&nbsp;&nbsp; Post material that promotes illegal conduct or an intent to engage in illegal conduct;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v.&nbsp;&nbsp;&nbsp; Post material that violate any laws;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vi.&nbsp;&nbsp; Engage in conduct which is abusive, threatening, libelous, defamatory, obscene, offensive, pornographic, racist, sexist, homophobic, harassing, hateful, invades another’s privacy or stalking;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vii.&nbsp; Collect information from other’s without their knowledge or approval;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;viii.&nbsp; Impersonate someone else;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ix.&nbsp;&nbsp; Misrepresent your connection to another entity or person;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x.&nbsp;&nbsp;&nbsp; Modify headers or identifiers to conceal the origin of content;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xi.&nbsp;&nbsp; Engage in commercial activity not authorized by Mint Maxer LLC, such as raffles, contests, and soliciting goods and services;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xii.&nbsp; Disrupt the operation of Thingsberry.com by uploading viruses, worms, Trojan horses, or any other computer program or code designed to limit, interrupt, or destroy functionality of computer software or hardware;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xiii.&nbsp; Disobey the terms, conditions, rules, and guidelines of Thingsberry.com.

      </p>

      <br>
      <h5><b>Links to other Websites</b></h5>
      <p>Thingsberry.com contains links to other websites that are not owned, operated, maintained, or connected to Mint Maxer LLC. Links are provided as service to users.
        <br>
        <br>Mint Maxer LLC does not review, investigate or screen the content of these websites.
        <br>
        <br>Mint Maxer LLC is in no way responsible for the content on linked websites. We make no guarantees or warranties about content, completeness or truth of these links or their websites.
        <br>
        <br>We do not endorse positions, ideas, or opinions of theses websites.

      </p>

      <br>
      <h5><b>Relationship between the parties</b></h5>
      <p>Nothing in these Terms and Conditions is to be interpreted as forming a partnership, joint venture, employment, or agency relationship between you and us.
        <br>
        <br>We do not have the authority to bind each other in any way.

      </p>

      <br>
      <h5><b>Disclaimer of Warranties</b></h5>
      <p>You understand that Mint Maxer LLC cannot and does not guarantee the accuracy of the information on products listed on the website. This means you are responsible for doing further research to make sure the product suits your needs.
        <br>
        <br>You are responsible for all loss and damages you suffer as a result of using our website or its content.
        <br>
        <br>We respect the intellectual property rights of others but we can’t promise that all the content on this website doesn’t infringe on the rights of others.
        <br>
        <br>YOUR USE OF THINGSBERRY.COM IS AT YOUR OWN RISK. ALL CONTENT IS PROVIDED “AS IS” AND WITHOUT IMPLIED WARRANTIES.
        <br>
        <br>MINT MAXER LLC MAKES NO WARRANTIES EXCEPT THOSE MADE EXPRESSLY IN THESE TERMS AND CONDITIONS. WE DISCLAIM ALL IMPLIED WARRANTIES, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON- INFRINGEMENT.
        <br>
        <br>MINT MAXER LLC DOES NOT MAKE ANY RERESENTATIONS RELATING TO THE USE, OR THE RESULTS OF USE, OF THE CONTENT IN TERMS OF ACCURACY, RELIABILITY, OR OTHERWISE.
        <br>
        <br>THIS WEBSITE MAY CONTAIN TECHNICAL OR TYPOGRAPHICAL ERRORS.
        <br>
        <br>YOU AND NOT MINT MAXER LLC ARE RESPONSIBLE FOR ALL SERVICING, REPAIR, OR CORRECTIONS IN THE EVENT OF LOSS OR DAMAGE RESULTING FROM THE USE OF THIS WEBSITE OR ITS CONTENT.
        <br>
        <br>MINT MAXER LLC MAKES NO WARRANTIES THAT YOUR USE OF THE CONTENT WILL NOT INFRINGE THE RIGHTS OF OTHERS AND ASSUSMES NO LIABILTY OR RESPONSIBILITY FOR ERRORS OR OMISSIONS IN SUCH CONTENT.


      </p>

      <br>
      <h5><b>Exclusion of Damages</b></h5>
      <p>MINT MAXER LLC does not accept liability for the following damages experienced by the users of Thingsberry.com or any third party.
        <br>
        <br>MINT MAXER LLC, ITS SUBSIDIARIES, AFFLIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS WILL NOT BE LIABLE FOR ANY INCIDENTIAL, DIRECT, INDIRECT, PUNITIVE, ACTUAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, OR OTHER DAMAGES INCLUDING LOSS OF DATA, REVENUE OR INCOME, GOODWILL, PAIN AND SUFFERING, EMOTIONAL DISTRESS, OR SIMILAR DAMAGES, RELATED TO THE USE THIS WEBSITE NO MATTER THE CAUSE OF ACTION THEY ARE BASED ON, EVEN IF THINGSBERRY.COM HAS BEEN ADVISED OF THE POSSIBILITY OF THOSE DAMAGES.


      </p>

      <br>
      <h5><b>Limitation of Liability</b></h5>
      <p>There is no liability related to the Terms and Conditions and services provided by Thingsberry.com. At Thingsberry.com we provide our service for free.
        <br>
        <br>Some of these DISCLAIMERS may not apply to you if your state prevents limitations on implied warranties or limitations or exclusions on damages, and you may have more rights.
        <br>
        <br>IN NO EVENT WILL THERE BE ANY COLLECTIVE LIABILTY OF MINT MAXER LLC. AND ITS SUBSIDIARIES, AFFLIATES, LICENSORS, SERVICE PROVIDERS, CONTENT PROVIDERS, EMPLOYEES, AGENTS, OFFICERS, AND DIRECTORS TO ANY PARTY (REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT, OR OTHERWISE.)
        <br>
        <br>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. SOME OR ALL OF THE ABOVE DISCLAIMERS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. UNLESS LIMITED OR MODIFIED BY APPLICABLE LAW, THE ABOVE-STATED DISCLAIMERS, EXCLUSION AND LIMITATIONS APPLY, EVEN IF ANY REMEDY FAILS OF ITS ESSENTIAL PURPOSE.

      </p>


      <br>
      <h5><b>Indemnity</b></h5>
      <p>You promise to protect Mint Maxer LLC from lawsuits and claims that are a result of your wrongdoing.
        <br>
        <br>You will indemnify, defend, and hold Mint Maxer LLC, its subsidiaries, affiliates, licensors, content providers, service providers, employees, agents, directors, and contractors (the Indemnified Parties) harmless from any breach of these Terms and Conditions by you. This includes using content in a way not expressly authorized in the Terms and Conditions.
        <br>
        <br>You also agree that the Indemnified Parties will have no liability in connection with any breach or unauthorized use. You will indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorney’s fees of the Indemnified Parties related to your breach or unauthorized use.
        <br>
        <br>You will also indemnify and hold Indemnified Parties harmless from and against any claims brought by third parties arising out of your use of the information accessed from this website.


      </p>

      <br>
      <h5><b>Warranty: </b></h5>
      <p>What we promise to you.
      </p>

      <br>
      <h5><b>Website Availability </b></h5>
      <p>Mint Mixer LLC will provide our services with reasonable skill and care.
        <br>
        <br>WE DO NOT WARRANT THAT THE FUNCTIONS OR CONTENT CONTAINED IN THIS WEBSITE WILL BE UNITERRUPTED, FREE FROM DELAYS OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THIS WEBSITE OR THE SERVER THAT MAKES IT AVAILABLE WILL BE FREE OF VIRUSES OR OTHER HARMFUL CODE OR WORK IN THE CONFIGURATION OR WITH THE HARDWARE OR SOFTWARE YOU USE.
        <br>
        <br>We are not responsible for claims that are the result of unauthorized changes to the website or the use of the website with prohibited software or hardware.

      </p>

      <br>
      <h5><b>Applicable laws</b></h5>
      <p>These Terms and Conditions are governed by the laws of the State of New Jersey, United States of America, notwithstanding any principles of conflicts of law. You agree to submit to personal jurisdiction in New Jersey in connection with any dispute arising out of these Terms and Conditions.
      </p>

      <br>
      <h5><b>Severability</b></h5>
      <p>If any part of these Terms and Conditions is unlawful, void, or unenforceable, that part will be deemed to fulfill its intended purpose to the maximum permitted by applicable law and will not affect the validity and enforceability of any remaining provisions.
        <br>
        <br>These Terms and Conditions constitute the entire agreement among the parties relating to this subject matter and supersedes all prior Terms and Conditions.

      </p>

      <br>
      <h5><b>U.S. specific controls</b></h5>
      <p>Thingsberry.com is not available to anyone located in any U.S. sanctioned countries or to anyone on the U.S. Treasury Department’s list of Specially Designated Nationals List (SDN List).

      </p>

      <br>
      <h5><b>Dispute Resolution for Mint Maxer LLC and users of Thingsberry.com</b></h5>
      <p>All disputes must go through an informal dispute resolution process.
        <br>
        <br>Please provideMint Maxer LLC with a brief written account of the dispute and your contact information.Send all information to:
        <br>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mint Maxer LLC
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legal Department
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1200 US-22
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suite #2000
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bridgewater, NJ 08807

        <br>
        <br>We will attempt to resolve all disputes to your satisfaction within 30 business days of receiving notification.
        <br>
        <br>If our informal dispute process fails, the claiming party may take the matter to small claims court in Somerset County, New Jersey.


      </p>

      <br>
      <h5><b>Disputes with Vendors</b></h5>
      <p>Mint Maxer LLC is not responsible for:
        <br>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i.&nbsp;&nbsp; any vendor materials including whether materials are suitable or available for your use.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ii.&nbsp; The accuracy and veracity of vendor information.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii. The performance or operation of any third party website.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iv.&nbsp; For any products or services advertised or sold by any third party (including on or through a third party’s website),
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v.&nbsp;&nbsp; For any other action or inaction by any third party.
        <br>
        <br>Your use of third party websites will be subject to those terms to which you and the third party agree.

      </p>

      <br>
      <h5><b>Intellectual Property</b></h5>
      <p>Trademarks, service marks, logos, and copyrighted works appearing on this website are the property of Mint Maxer LLC or the party that provided the trademarks, service marks, logos, and copyrighted works to Mint Maxer LLC.
        <br>
        <br><i><ins>What we have rights to</ins></i>
        <br>
        <br>Mint Maxer LLC retains all rights with respect to its respective trademarks, service marks, logos, and copyrighted materials appearing on Thingsberry.com.
        <br>
        <br>Basically, we own all Thingsberry.com content that we put on the website. You may not change, copy, reproduce, distribute, create derivative work from, post, reproduce, license, or sell information, content, software, products or services related to Thingsberry.com.
        <br>
        <br><i><ins>What we don’t have rights to</ins></i>
        <br>
        <br>Any party that provided the trademarks, service marks, logos, and copyrighted works to Mint Maxer LLC retain their rights to the material they provided.
        <br>
        <br>We do not own the items listed on Thingsberry.com. They are owned by their vendors.
        <br>
        <br>We do not and cannot take responsibility for the quality, or safety of the items.


      </p>

      <br>
      <h5><b>Copyright Infringement</b></h5>
      <p>To notify Mint Maxer LLC that your copyright has been infringed, please provide us with the following information:
        <br>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; i.&nbsp;&nbsp; An electronic or physical signature of the person authorized to act on the copyright owner’s behalf;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ii.&nbsp;&nbsp; A description of the copyrighted work you claim has been infringed upon;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii.&nbsp; A description of where the claimed infringed material is located on the website;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iv.&nbsp; Your address, telephone number, and email address;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;v.&nbsp;&nbsp; A statement that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vi.&nbsp; A statement, signed by an attorney or public notary, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
        <br>
        <br>Please sent notice of claim of copyright infringement to:
        <br>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mint Maxer LLC
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legal Department
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1200 US-22
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suite #2000
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bridgewater, NJ 08807

        <br>
        <br>ALL NOTICES MUST COMPLY WITH THE REQUIREMENTS OF TITLE 17, UNITED STATES CODE, SECTION 512(c)(3) TO RECEIVE A RESPONSE.


      </p>

      <br>
      <h5><b>Customer Service</b></h5>
      <p>Please contact us if you have any comments, complaints, or questions about Thingsberry.com.
        <br>
        <br>We can be reached by email: info@thingsberry.com



      </p>

      <br>
      <h5><b>Security</b></h5>
      <p>Any passwords used for this website are for your individual use only. It is your responsibility to protect and keep confidential your username, password, and your private information. If you suspect your username, password, or private information has been compromised or used by an unauthorized third party you must notify us as soon as reasonably possible.
        <br>
        <br>You are prohibited from using any service or facilities provided in connection with this site to compromise security or tamper with system resources and/or accounts.
        <br>
        <br>The use or distribution of tools designed to compromise security is strictly prohibited.
        <br>
        <br>Allowing someone to use your account to compromise security is strictly prohibited.
        <br>
        <br>We reserve the right to investigate any suspected violations of these Terms and Conditions.
        <br>
        <br>We reserve the right to fully cooperate with any law enforcement authorities or court order requesting or directing Mint Maxer LLC to disclose the identity of anyone posting any messages, emails, or materials that violate the Terms and Conditions.
        <br>
        <br>BY ACCEPTING THESE TERMS YOUR WAIVE AND HOLD MINT MAXER LLC HARMLESS FROM ANY CLAIIMS RESULTIG FROM ANY ACTION TAKEN BY MINT MAXER LLC DURING OR AS A RESULT OF ITS INVESTIGATION AND/OR FROM ANY ACTION TAKEN AS A CONSEQUENCE OF THE INVESTIGATION BY EITHER MINT MAXER LLC OR LAW ENFORCEMENT AUTHORITIES.
      </p>

      <br>
      <h5><b>Changes and Modifications to Thingsberry.com’s Terms and Conditions</b></h5>
      <p>The Terms and Conditions for Thingsberry.com can be changed at any time to reflect changes to services offered, the operation of the website, to meet legal requirements or at Mint Maxer LLC’s discretion.
        <br>
        <br>Thingberry.com may or may not notify users of impending changes. It is your responsibility to check the Terms and Conditions for changes.
        <br>
        <br>All changes are effective the date they are posted.
        <br>
        <br>You can cancel your account if you don’t agree with the changes
        <br>
        <br>If you continue to use Thingberry.com after the effective date of change, you have accepted and agreed to all changes to the Terms and Conditions of Thingberry.com The effective date is located in the footer of the Terms and Conditions.

      </p>


    </div>
  </div>
</div>
