<!--<div id="ratings">
  <uib-rating ng-model="rate1" max="max1" read-only="isReadonly1" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating"></uib-rating>
</div>-->


<div class="row popoverEditTemplate" ng-click="deleteProduct()">
  <h5> Delete </h5>
</div>
<div class="row popoverEditTemplate" ng-click="deactivateProduct()">
  <h5> Deactivate </h5>
</div>
<div class="row popoverEditTemplate">
  <a ui-sref="companies.add({ companyId: details.productId })"><h5> Edit </h5></a>
</div>
