.text_on_add_company {
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(51, 51, 51);
  line-height: 1.25;
  text-align: center;
  z-index: 308;
}

.code,
.tel {
  display: inline-block;
  padding: 0px !important;
}

.add_new_fields {
  height: 40px;
}

.form_inline_styles {
  margin-right: 65px !important;
  margin-left: 25px !important;
}

.company_name_field {
  width: 75% !important;
}

.address_fields {
  width: 135% !important;
}

.zipCode {
  background: #fff url('../../../../modules/core/client/img/buttons/pin icon.png') no-repeat;
  background-size: 15px;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #aaa;
}

.form_inline_styles> select {
  margin-left: 0px;
  margin-right: 25px;
}

.codeNum {
  width: 50% !important;
  height: 46px;
  padding: 12px 20px !important;
  margin-left: -35px;
  margin-right: 60px;
}

.telephone_number {
  width: 150% !important;
  height: 46px;
  padding: 12px 20px !important;
  margin-left: -90px;
  margin-right: 45px;
}

.briefCase_Cog {
  position: absolute;
  margin-left: -44%;
  margin-top: 3%;
  z-index: 5;
  font-size: 24px;
}

.select_on_search_results {
  width: 140px;
  height: 38px;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 0px 15px;
  background: #fff url('../../../../modules/core/client/img/buttons/arrow.png') no-repeat;
  background-size: 15px;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Back_to_search {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(2, 168, 243);
  line-height: 1.333;
  z-index: 203;
}

.Back_to_search:hover {
  cursor: pointer;
}

.business_sector_select {
  border: 1px solid rgb(212, 211, 211);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 225px;
  height: 50px;
  z-index: 153;
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  background: #fff url('../../../../modules/core/client/img/buttons/arrow.png') no-repeat;
  background-size: 15px;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.business_sector_select > .caret {
  display: none !important;
}

.business_sector_selected_vals {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(51, 51, 51);
  text-align: center;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  height: 40px;
}

.fa-times {
  font-size: 16px;
  color: rgb(157, 157, 157);
  line-height: 3.75;
  text-align: center;
  z-index: 162;
}

.operational_regions {
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(51, 51, 51) !important;
  text-align: center;
  z-index: 50;
}

.heading_Text {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(2, 168, 243);
  line-height: 1;
  text-align: center;
  z-index: 58;
}

.add_form_category > select {
  background: #fff url('../../../../modules/core/client/img/buttons/arrow.png') no-repeat;
  background-size: 15px;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  font-family: "OpenSans";
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  color: rgb(2, 168, 243);
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  box-shadow: none!important;
  resize: none;
  color: rgb(51, 51, 51) !important;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  margin: 0;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease, opacity .3s ease;
  -moz-transition: top .3s ease, opacity .3s ease;
  -ms-transition: top .3s ease, opacity .3s ease;
  transition: top .3s ease, opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: rgb(2, 168, 243);
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.pencilIcon {
  display: none;
  font-size: 20px;
  padding: 10px;
}

.pencilIcon:hover {
  cursor: pointer;
}

.product-square:hover .pencilIcon {
  display: block;
}

.product-square:hover {
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.product-square {
  background: #fff;
  margin-bottom: 30px;
  border: solid 2px #d9d9d9;
  position: relative;
  min-height: 360px;
  transition: all 0.4s ease;
}

.premium-product {
  border: solid 4px rgb(255, 245, 104) !important;
  min-height: 400px !important;
}

.product-square-logo {
  cursor: pointer;
  position: relative;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

.product-square-title {
  min-height: 60px;
}

.fa-angle-double-down:hover,
.fa-angle-double-up:hover {
  cursor: pointer;
}

.product-square-img {
  max-height: 200px;
  max-width: 90%;
}

.isPremium {
  font-size: 20px;
  font-family: "OpenSans";
  color: rgb(51, 51, 51) !important;
  z-index: 50;
}

.product-square-body {
  padding: 18px;
  position: relative;
  text-align: center;
  min-height: 140px;
}

.editIon {
  position: absolute;
  left: 90%;
  top: 0%;
  z-index: 1000;
}

.inmodal .modal-title {
  font-size: 26px;
  font-weight: 600;
  color: #676a6c;
}

.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
  border-bottom: none;
}

.product-listing.ng-enter,
.product-listing.ng-leave,
.product-listing.ng-move {
  -webkit-transition: 0.5s ease-in all;
  -moz-transition: 0.5s ease-in all;
  -o-transition: 0.5s ease-in all;
  transition: 0.5s ease-in all;
}

.product-listing.ng-enter,
.product-listing.ng-move {
  opacity: 0;
  height: 0;
}

.product-listing.ng-move.ng-move-active,
.product-listing.ng-enter.ng-enter-active {
  opacity: 1;
  height: 5px;
}

.product-listing.ng-leave {
  opacity: 1;
}

.product-listing.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.moreDesc {
  font-size: 16px;
  color: rgb(33, 150, 243);
}

.moreDesc:hover {
  cursor: pointer;
}

.list-title {
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.readOnlyRating {
  font-size: 16px;
  color: #e9ce18;
}

.circle-styles-search {
  padding: 23px 25px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0px 0px 2px rgb(2, 168, 243);
  -webkit-box-shadow: 0px 0px 2px rgb(2, 168, 243);
  box-shadow: 0px 0px 2px rgb(2, 168, 243);
}

.font-stack-size {
  line-height: 4em;
}

.result-header {
  background-color: #B4C4E6;
  padding: 15px 0px;
  margin: 0px -38px;
  margin-top: 2px;
}
