<div class="inmodal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span> </button>
    <h4 class="modal-title">User Not LoggedIn</h4>
  </div>
  <div class="modal-body">
    <p><strong>Sign Up / Log In </strong>to add your <strong>Product Details.</strong></p>
    <p>If you already have an account then
      <button type="button" class="btn btn-modal-login" ng-click="LogIn()"><strong>Log In</strong></button> or
      <button type="button" class="btn btn-modal-login" ng-click="SignUp()"><strong>Sign Up</strong> </button> to create account in ThingsBerry.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
  </div>
</div>
