<span class="share">
  <div class="hover_tile arrow_box" ng-class="{'featuredShareStyle':featured,'listShareStyle':listview,'singlePrdctShareStyle':singlePrdct}">
    <div>
    <div class="ratingName">
     <h5><b>Share your product..</b></h5>

     </div>
      <div class="text-center">
      <span class="fa fa-facebook-square share_icons share_icons_fb" socialshare socialshare-provider="facebook" socialshare-text="Thingsberry {{products.Proname}} product" socialshare-url="https://www.thingsberry.com/products/list/{{products.productId}}" aria-hidden="true"></span>
<!-- <a href="http://www.facebook.com/sharer.php?s=100&p[title]={{products.Proname}}&p[summary]={{products.description}}&p[url]=http://qa.thingsberry.com/products/{{products.productId}}">
         <span class="fa fa-facebook-square share_icons share_icons_fb" aria-hidden="true"></span>
        </a>-->
<span class="fa fa-google-plus-square share_icons share_icons_gplus" socialshare socialshare-provider="google" socialshare-text="Thingsberry {{products.Proname}} product" socialshare-url="https://www.thingsberry.com/products/list/{{products.productId}}" aria-hidden="true"></span>
</div>
</div>
</div>

<i class="fa fa-share-alt prodIcons  icons_on_prdct_footer" aria-hidden="true"></i>
</span>
