<div ng-class="{'deactivetedPrdct':(details.status==='deactive')}">
  <div class="row new_list_prdct_view_box ">
    <div class="col-md-4 col-sm-4 col-xs-12 new_list_prdct_view_img ">
      <p>
        <a ng-href="{{details.webAddress}}" target="_blank" ng-class="{'btnDisabled':(details.status==='deactive')}"> <img class="" ng-src="{{proImgUrl()}}" onerror="this.onerror=null;this.src='../../../../../modules/core/client/img/brand/tb2.png';" style="width:100%;height:225px;"> </a>
      </p>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="row new_list_prdct_view_name">
        <div class="col-md-11 col-sm-11">
          <h3>{{details.Proname}}</h3>
        </div>
        <div class="col-md-1 col-sm-1">
          <div ng-show="editProduct" class="editInList">
            <i class="fa fa-chevron-down pencilIcon" uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom"></i>
            <!-- <a ui-sref="companies.add({ companyId: details.productId })"> <i class="fa fa-chevron-down pencilIcon" uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom"></i></a>-->
          </div>
        </div>

      </div>
      <hr style="margin-top:0px;margin-bottom:15px;">
      <div class="new_list_prdct_view_body">
        <!--<div class="row new_list_prdct_view_name">
          <h3>{{details.Proname}}</h3>
        </div>-->
        <div class="row new_prdct_list_date_rating">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <span class="date_icon_in_sngle_prdct"><i class="fa fa-calendar date_icon_in_sngle_prdct" aria-hidden="true" ></i>
            {{details.created |date:'MMM d, yyyy'}}</span>
          </div>
          <div class="col-md-7" style="float:right;">
            <tb-ratings-container prod-id={{prodId}} state="productListView" products="details" style="float:right;" ng-class="{'btnDisabled':(details.status==='deactive')}"></tb-ratings-container>
          </div>
        </div>
        <div class="row new_list_prdct_view_desc">
          <p>{{ details.description |limitTo: 150}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="bottom:6px;">
          <a ng-href="{{details.webAddress}}" target="_blank" ng-class="{'btnDisabled':(details.status==='deactive')}">
            <md-button class="md-raised md-primary col-md-4 col-sm-3 col-xs-3" style="margin:0px;"><b>Link <i class="fa fa-link" aria-hidden="true" style="transform: rotate(-45deg);"></i></b></md-button>
          </a>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-4 pull-right">
          <tb-share state="listview" products="details" ng-class="{'btnDisabled':(details.status==='deactive')}"></tb-share>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4 pull-right">
          <a ui-sref="companies.view({ companyId: details.productId })" ng-class="{'btnDisabled':(details.status==='deactive')}"><i class="fa fa-expand new_list_prdct_view_footer_icons"></i></a>
        </div>
        <!--<div class="col-md-1 col-sm-1 col-xs-4">
          <i class="fa fa-heart-o new_list_prdct_view_footer_icons"></i>
        </div>-->

      </div>
    </div>
  </div>
</div>
