<div class="product-square">
  <div ng-show="user.roles.indexOf('admin') > -1" class="editIon"> <i class="fa fa-pencil pencilIcon" ng-click="editProduct(details)"></i>
  </div>
  <div class="product-square-title">
    <p class="product_title">{{details.Proname}}</p>
  </div>

  <div class="product-square-logo">
    <p>
      <a ng-href="{{details.webAddress}}" target="_blank"> <img class="product-square-img" ng-src="{{proImgUrl()}}"> </a>
    </p>
  </div>

  <div class="product-square-body" ng-init="limit= 100">
    <div class="product_desc">{{ details.description | limitTo: limit }}{{details.description.length > limit ? '...' : ''}}<span class="moreDesc" ng-click="changeLimit(details)" ng-hide="details.description.length < limit">&nbsp;&nbsp;{{(limit != details.description.length) ? 'more' :'less'}}<i class="fa text-cente" ng-class="{'fa-angle-double-right': (limit != details.description.length), 'fa-angle-double-left': (limit == details.description.length)}"></i></span>
    </div>
    <br>
    <div class="row">
      <span class="col-md-6 col-xs-6 text-center user ">
      <div ng-mouseleave="hoverOut()" class=" arrow_box rt" ng-show="showRatings">
        <div class="ratingName">
          <h5><b>Give your rating here..</b></h5>
        </div>
<div class="stars">
        <uib-rating ng-model="rate1" ng-click="rating(rate1)" max="5" read-only="isReadonly1" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating "></uib-rating>
      </div>
</div>
        <div class="arrow_box rt" ng-hide="showRatings">
          <h5 class="ratedPopover">You rated <b>{{rate1}} star.</b><a ng-click="showMe()" class="modifyIt"><b  > modify</b></a>
      </h5>
    </div>


    <!--<span class="col-md-6 col-xs-6 text-center ">-->
    <uib-rating ng-model="rate" max="5" read-only="isReadonly" on-titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating"></uib-rating>({{reviewsCount}})

    </span>

      <a ng-href="{{details.companyWebsite}}" target="_blank"><i class="fa fa-globe col-md-3 col-xs-3 text-center icons-on-img-footer"></i></a>

      <a ui-sref="companies.view({ companyId: details._id })">
        <i class="fa fa-expand col-md-3 col-xs-3 text-center icons-on-img-footer"></i>
      </a>
      <!--<i class="fa col-md-4 col-xs-4  text-cente" ></i>-->
    </div>
  </div>
</div>
