<div class="product-square">
  <div ng-show="user.roles.indexOf('admin') > -1" class="editIon"> <i class="fa fa-pencil pencilIcon" ng-click="editProduct(details)"></i>
  </div>
  <div class="product-square-title">
    <p class="product_title">{{details.Proname}}</p>
  </div>

  <div class="product-square-logo">
    <p>
      <a ng-href="{{details.webAddress}}" target="_blank"> <img class="product-square-img" ng-src="{{proImgUrl()}}"> </a>
    </p>
  </div>

  <div class="product-square-body" ng-init="limit= 100">
    <div class="product_desc">{{ details.description | limitTo: limit }}{{details.description.length > limit ? '...' : ''}}<span class="moreDesc" ng-click="changeLimit(details)" ng-hide="details.description.length < limit">&nbsp;&nbsp;{{(limit != details.description.length) ? 'more' :'less'}}<i class="fa text-cente" ng-class="{'fa-angle-double-right': (limit != details.description.length), 'fa-angle-double-left': (limit == details.description.length)}"></i></span>
    </div>
    <br>
    <div class="row">
      <span class="col-md-offset-1 text-center " style="float:left;">

     <!-- <uib-rating ng-model="rate" max="5" read-only="isReadonly" on-titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating defult-content"></uib-rating>({{reviewsCount}})


<div  class="border_box on-hover-content" ng-show="showRatings">
  <div class="ratingName">
    <h5><b>Give your rating here..</b></h5>
  </div>
  <div class="stars">
    <uib-rating ng-model="rate1" ng-click="rating(rate1)" max="5" read-only="isReadonly1" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="[' ',' ',' ',' ',' ']" aria-labelledby="default-rating" class="readOnlyRating " style="cursor: pointer;"></uib-rating>
  </div>
  <span class="label" ng-class="{'label-info': percent}" ng-show="overStar && !isReadonly1">{{productReviewLabel}}</span> </div>


    <div ng-mouseleave="hoverOut()" style="cursor:default" class="border_box on-hover-content" ng-show="ratevalue">
      <h5 class="ratedPopover"><br> Thanks for rating </h5>
    </div>


    <div class="border_box on-hover-content" ng-hide="showRatings">
      <h5 class="ratedPopover"><br>You rated <b>{{rate1}} star.</b><a ng-click="showMe()" class="modifyIt"><b  > modify?</b></a>
      </h5>
    </div>-->







    <div class="initialStars" style="cursor:pointer">

      <uib-rating ng-model="rate" max="5" read-only="isReadonly" on-titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating"></uib-rating>

      <div class="arrow_box hover_box">
        <div ng-mouseleave="mouseOut()" ng-show="showRatings">
          <div>
            <div class="ratingName">
              <h5><b>Give your rating here..</b></h5>
            </div>
            <div class="stars">
              <uib-rating ng-model="rate1" ng-click="rating(rate1)" max="5" read-only="isReadonly1" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="[' ',' ',' ',' ',' ']" aria-labelledby="default-rating" class="readOnlyRating " style="cursor: pointer;"></uib-rating>
            </div>
            <span class="label" ng-class="{'label-info': percent}" ng-show="overStar && !isReadonly1">{{percent}}</span>
          </div>

          <div style="cursor:default; " ng-mouseleave="hoverOut()" ng-show="ratevalue">
            <h5 class="ratedPopover">Thanks for rating </h5>
          </div>
        </div>

        <div style="cursor: default;" ng-hide="showRatings">
          <h5 class="ratedPopover">You rated <b>{{rate1}} star.</b><a ng-click="showMe()" class="modifyIt"><b> modify?</b></a>
      </h5>
        </div>

      </div>
      <!--<div ng-mouseleave="mouseOut()" class=" arrow_box hover_box" ng-show="showRatings">
        <div class="ratingName">
          <h5><b>Give your rating here..</b></h5>
        </div>
        <div class="stars">
          <uib-rating ng-model="rate1" ng-click="rating(rate1)" max="5" read-only="isReadonly1" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="[' ',' ',' ',' ',' ']" aria-labelledby="default-rating" class="readOnlyRating " style="cursor: pointer;"></uib-rating>
        </div>
        <span class="label" ng-class="{'label-info': percent}" ng-show="overStar && !isReadonly1">{{percent}}</span>

        <div style="cursor:default; top:-1px; left:-1px;" ng-mouseleave="hoverOut()" class="arrow_box hover_box" ng-show="ratevalue">
          <h5 class="ratedPopover"><br> Thanks for rating </h5>
        </div>

      </div>-->



      <!-- <div style="cursor: default;" class="arrow_box hover_box" ng-hide="showRatings">
        <h5 class="ratedPopover"><br>You rated <b>{{rate1}} star.</b><a ng-click="showMe()" class="modifyIt"><b  > modify?</b></a>
      </h5>
      </div>-->

    </div>

    </span><span style="float:left; cursor:default;">({{reviewsCount}})</span>

    <a ng-href="{{details.companyWebsite}}" target="_blank"><i class="fa fa-globe col-md-offset-1 col-md-2 col-xs-3 text-center icons-on-img-footer"></i></a>

    <a ui-sref="companies.view({ companyId: details._id })">
      <i class="fa fa-expand col-md-offset-1 col-md-2 col-xs-3 text-center icons-on-img-footer"></i>
    </a>
  </div>
</div>
</div>
