<div class="text-center img-outer">
  <span class="img-label"><i class="fa fa-star star_on_img-label"></i></span>
  <p class="company_name">SONY</p>
  <div class="sony_logo"></div>
  <p class="text-on-img">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</div>
<div class="icons-on-img-footer">
  <div class="row">
    <i class="fa fa-info-circle col-md-4"></i>
    <i class="fa fa-star col-md-4" style="padding-right:75px"></i>
    <i class="fa fa-globe col-md-4" style="padding-right:110px"></i>
  </div>
</div>
<br>
<br>
