<div style="margin:25px;margin-top:75px;">
  <div class="row search_tabs">
    <uib-tabset active="activeForm" style="background-color:white;border:1px solid #666666;border-radius:3px;">
      <uib-tab index="0" heading="Search" class="col-md-6 col-sm-6 col-xs-6 text-center" style="padding:0px;font-weight:bold;font-size:16px; ">
        <div class="row" style="margin:40px;margin-top:15px;margin-bottom:15px;">
          <div class="row search_text">
            <p> Find the comprehensive list of Internet of Things(IoT) or connected products and their ratings in the areas of Smart Home, Wearable's, Health Care and more...</p>
          </div>
          <div class="row text-center hidden-xs" style="margin-top:-10px;">
            <img ng-src="modules/core/client/img/search_img.jpg" style="height:166px;">
          </div>
          <div class="row">
            <form role="form" ng-submit="getSearchedProducts(homeSearchDetails)">
              <div class="col-md-12 search_inpt">
                <label class="search_text" style="margin-left:-12px;font-weight:bold;font-size:13px;">CATEGORY</label>
                <tags-input ng-model="homeSearchDetails.Category" class="form-control-tags-input" display-property="title" placeholder="Eg: Home, Wearable's, Health Care etc" style="margin-left:-15px;padding-right:0px;">
                  <auto-complete source="loadSearchCategories($query)" min-length="0" debounce-delay="0" max-results-to-show="10"></auto-complete>
                </tags-input>
              </div>
              <div class="col-md-12 searchtab_search_btn">
                <md-button type="submit" class="md-raised md-primary premium_view_btn col-md-12 col-sm-12 col-xs-12" ng-click="headerSearch(false)"><b>SEARCH</b></md-button>
              </div>
              <div class="hidden-md hidden-xs hidden-sm hidden-lg">
                <div class="form-group">
                  <div class="col-xs-12 home_input_tags">
                    <div isteven-multi-select input-model="modernBrowsers" output-model="homeSearchDetails.outputBrowsers" button-label="name" item-label="name" tick-property="ticked" on-open="fOpen()" on-close="fClose()" on-item-click="fClick( data )" on-select-all="fSelectAll()" on-select-none="fSelectNone()" on-reset="fReset()" on-clear="fClear()" on-search-change="fSearchChange( data )">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </uib-tab>


      <uib-tab index="1" heading="Advanced Search" class="col-md-6 col-sm-6 col-xs-6 text-center" style="padding:0px;font-weight:bold;font-size:16px;">
        <div class="row advSearch_content">
          <div class="row search_text">
            <p> Find the comprehensive list of Internet of Things(IoT) or connected products and their ratings in the areas of Smart Home, Wearable's, Health Care and more...</p>
          </div>
          <div class="row">
            <form role="form" ng-submit="getSearchedProducts(homeSearchDetails)">

              <div class="row " style="margin:0px;margin-top:-2px;">
                <h5 class="text-left" style="font-size:13px;"><b>CATEGORY</b></h5>
              </div>
              <div class="row advSearch_inpt" style="margin:0px;">
                <tags-input ng-model="homeSearchDetails.Category" class="form-control-tags-input" display-property="title" placeholder="Eg: Home, Wearable's, Health Care etc">
                  <auto-complete source="loadCategories($query)" min-length="0" debounce-delay="0" max-results-to-show="10"></auto-complete>
                </tags-input>
              </div>
              <div class="row" style="margin:0px;">
                <div class="col-md-6 col-xs-12 advSearch_company ">
                  <label class="search_text" for="ex1">COMPANY</label>
                  <input type="text" class="form-control advSearch_company_inpt" placeholder="Company" ng-model="homeSearchDetails.Company">
                </div>
                <div class="col-md-6  col-xs-12 advSearch_company" style="padding-right:0px;">
                  <label class="search_text" for="ex1">PRODUCT</label>
                  <input type="text" class="form-control advSearch_company_inpt" placeholder="Product" ng-model="homeSearchDetails.Product">
                </div>
              </div>
              <div class=" col-md-12 advncSearchTab_search_tab" style="">
                <md-button type="submit" class="md-raised md-primary premium_view_btn col-md-12 col-sm-12 col-xs-12" ng-click="headerSearch(false)"><b>SEARCH</b></md-button>
              </div>
              <div class="hidden-md hidden-xs hidden-sm hidden-lg">
                <div class="form-group">
                  <div class="col-xs-12 home_input_tags">
                    <div isteven-multi-select input-model="modernBrowsers" output-model="homeSearchDetails.outputBrowsers" button-label="name" item-label="name" tick-property="ticked" on-open="fOpen()" on-close="fClose()" on-item-click="fClick( data )" on-select-all="fSelectAll()" on-select-none="fSelectNone()" on-reset="fReset()" on-clear="fClear()" on-search-change="fSearchChange( data )">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

</div>
