<div style="color:white">
  <div class="row text-left">
    <h2>{{details.text}}</h2>
  </div>
  <div class="row text-left">
    <h5>{{details.desc | limitTo: 146}}</h5>
  </div>
  <div class="row" style="min-height:290px;">
    <img src="{{details.image}}" class="premium_img">
  </div>
  <div class="row">
    <a ui-sref="companies.view({ companyId:details._id })">
      <button class="col-md-4 col-sm-4 col-xs-5     btn btn-primary premium_view_btn">READ MORE</button>
    </a>
    <a href="{{details.web}}" target="_blank">
      <button class="col-md-4 col-sm-4 col-xs-5 col-xs-offset-2 col-md-offset-4 col-sm-offset-3 btn btn-default premium_visit_btn">VISIT WEBSITE</button>
    </a>
  </div>

</div>
