<div style="margin:25px;margin-top:35px;">
  <div class="row search_tabs">
    <uib-tabset active="activeForm" style="background-color:white;border:1px solid black;">
      <uib-tab index="0" heading="Search" class="col-md-6 col-sm-6 col-xs-6 text-center" style="padding:0px;">
        <div class="row" style="margin:30px;">
          <div class="row text-center">
            <p> Find the comprehensive list of internet of Things(IoT)products and ratings in the areas of Home Automation,Wearable,Health Care,Utileties and more...</p>
          </div>
          <div class="row text-center" style="margin-top:-10px;">
            <img ng-src="modules/core/client/img/search_img.jpg" style="height:166px;">
          </div>
          <div class="row">
            <form role="form" ng-submit="getSearchedProducts(homeSearchDetails)">
              <!--<div class="row " style="margin:0px;">
                <h5>CATEGORY</h5>
              </div>-->
              <div class="col-md-12 search_inpt" style="padding-right:0px;margin-top:-25px;">
                <label style="margin-left:-12px;">CATEGORY</label>
                <tags-input ng-model="homeSearchDetails.Category" class="form-control-tags-input" display-property="title" placeholder="Enter a category. Eg. Home, Accesories, Electronics, Healthcare or Baby-Products" style="margin-left:-15px;padding-right:0px;">
                  <auto-complete source="loadCategories()" min-length="0" debounce-delay="0" max-results-to-show="10"></auto-complete>
                </tags-input>
              </div>
              <div class="col-md-12" style="padding:0px;margin-top:10px;">
                <button type="submit" class="btn btn-primary col-md-12 col-sm-12 col-xs-12 premium_view_btn">SEARCH</button>
              </div>
              <div class="hidden-md hidden-xs hidden-sm hidden-lg">
                <div class="form-group">
                  <div class="col-xs-12 home_input_tags">
                    <div isteven-multi-select input-model="modernBrowsers" output-model="homeSearchDetails.outputBrowsers" button-label="name" item-label="name" tick-property="ticked" on-open="fOpen()" on-close="fClose()" on-item-click="fClick( data )" on-select-all="fSelectAll()" on-select-none="fSelectNone()" on-reset="fReset()" on-clear="fClear()" on-search-change="fSearchChange( data )">
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </uib-tab>


      <uib-tab index="1" heading="Advanced Search" class="col-md-6 col-sm-6 col-xs-6 text-center" style="padding:0px;">
        <div class="row advSearch_content">
          <div class="row text-center">
            <p> Find the comprehensive list of internet of Things(IoT)products and ratings in the areas of Home Automation,Wearable,Health Care,Utileties and more...</p>
          </div>
          <div class="row">
            <form role="form" ng-submit="getSearchedProducts(homeSearchDetails)">

              <div class="row " style="margin:0px;">
                <h5>CATEGORY</h5>
              </div>
              <div class="row advSearch_inpt" style="margin:0px;">
                <tags-input ng-model="homeSearchDetails.Category" class="form-control-tags-input" display-property="title" placeholder="Enter a category. Eg. Home, Accesories, or Baby-Products">
                  <auto-complete source="loadCategories()" min-length="0" debounce-delay="0" max-results-to-show="10"></auto-complete>
                </tags-input>
              </div>
              <div class="row" style="margin:0px;">
                <div class="col-md-5 col-xs-12 advSearch_company">
                  <label for="ex1">COMPANY</label>
                  <input type="text" class="form-control advSearch_company_inpt" placeholder="Company" ng-model="homeSearchDetails.Company" style="border-radius:0px;height: 45px;">
                </div>
                <div class="col-md-5 col-md-offset-2 col-xs-12 advSearch_company">
                  <label for="ex1">PRODUCT</label>
                  <input type="text" class="form-control advSearch_company_inpt" placeholder="Product" ng-model="homeSearchDetails.Product" style="border-radius:0px;height: 45px;">
                </div>
              </div>
              <div class=" col-md-12" style="padding:0px;margin-top:30px;">
                <button type="submit" class="btn btn-primary col-md-12 col-sm-12 col-xs-12 premium_view_btn">SEARCH</button>
              </div>
              <div class="hidden-md hidden-xs hidden-sm hidden-lg">
                <div class="form-group">
                  <div class="col-xs-12 home_input_tags">
                    <div isteven-multi-select input-model="modernBrowsers" output-model="homeSearchDetails.outputBrowsers" button-label="name" item-label="name" tick-property="ticked" on-open="fOpen()" on-close="fClose()" on-item-click="fClick( data )" on-select-all="fSelectAll()" on-select-none="fSelectNone()" on-reset="fReset()" on-clear="fClear()" on-search-change="fSearchChange( data )">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

</div>
