<div ng-controller="AuthenticationController">
  <div class="container">
    <div class="row ">


      <div class="col-xs-10 col-xs-offset-1 col-md-offset-4 col-sm-offset-1 col-md-4 text-center login-signup-styles">

        <h3>Sign Up</h3>

        <h5>Already have an account?  <a ui-sref="authentication.signin">Log In</a></h5>

        <div>
          <!-- <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="form-group floating-label-form-group">
              <label for="firstName">First Name</label>
              <input type="text" required id="firstName" name="firstName" class="signup-input-text" data-ng-model="credentials.firstName" placeholder="First Name">
              <div ng-messages="userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First Name is required.</p>
              </div>
            </div>
            <div class="form-group floating-label-form-group">
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" class="signup-input-text" data-ng-model="credentials.lastName" placeholder="Last Name">
              <div ng-messages="userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last Name is required.</p>
              </div>
            </div>
            <div class="form-group floating-label-form-group" show-errors>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" ng-model="credentials.email" placeholder="Email Address" required>
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email is required.</p>
              </div>
            </div>
            <div class="form-group floating-label-form-group" show-errors>
              <label for="password">Password</label>
              <input type="password" id="password1" name="password1" ng-model="credentials.password1" placeholder="Password" required>
              <div ng-messages="userForm.password1.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="userForm.password1.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
            </div>
            <div class="form-group floating-label-form-group" show-errors>
              <label for="password">Confirm Password</label>
              <input type="password" id="password2" name="password2" ng-model="credentials.password2" placeholder="Confirm Password" required ng-change="pwdCompare()">
              <div ng-messages="userForm.password2.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
              </div>
            </div>

            <h5 style="padding-top:8px; padding-bottom:5px;">Already have an account?  <a ui-sref="authentication.signin">Log In</a></h5>

            <div class="text-center form-group">
              <button type="submit" class="btn btn-custom-style" ng-disabled="userForm.$invalid">SIGN UP</button>
            </div>
            <uib-alert type="danger" ng-show="error" class="text-center text-danger">
              <span ng-bind="error"></span>
            </uib-alert>
          </fieldset>
        </form>-->


          <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
            <div class="row">
              <md-input-container class=" col-md-12 col-sm-12 col-xs-12 form-group" style="margin-bottom:-10px;">
                <label class="label-styles-msg"><b>First Name</b></label>
                <input class="input-styles" class="form-control " type="text" name="firstName" required id="firstName" name="firstName" data-ng-model="credentials.firstName" required>
                <div ng-messages="userForm.firstName.$error" role="alert">
                  <!--<p class="help-block error-text" ng-message="required">First Name is required.</p>-->
                  <div ng-message="required">First Name is required.</div>

                </div>
              </md-input-container>

            </div>
            <div class="row">
              <md-input-container class=" col-md-12 col-sm-12 col-xs-12 form-group" style="margin-bottom:-10px;">
                <label class="label-styles-msg"><b>Last Name</b></label>
                <input class="input-styles" class="form-control " type="text" name="lastName" id="lastName" name="lastName" data-ng-model="credentials.lastName" required>
                <div ng-messages="userForm.lastName.$error" role="alert">
                  <!-- <p class="help-block error-text" ng-message="required">Last Name is required.</p>-->
                  <div ng-message="required">Last Name is required.</div>
                </div>
              </md-input-container>

            </div>
            <div class="row">
              <md-input-container class=" col-md-12 col-sm-12 col-xs-12 form-group" show-errors style="margin-bottom:-10px;">
                <label class="label-styles-msg"><b>Email</b></label>
                <input class="input-styles" class="form-control " type="email" name="email" id="email" name="email" ng-model="credentials.email" ng-pattern="/^.+@.+\..+$/" required>
                <div ng-messages="userForm.email.$error" role="alert">
                  <!-- <p class="help-block error-text" ng-message="required">Email is required.</p>-->
                  <div ng-message="required">Email is required.</div>
                  <div ng-message-exp="['required','pattern']">
                    Your email must be look like valid email address.
                  </div>
                </div>
              </md-input-container>

            </div>
            <div class="row">
              <md-input-container class=" col-md-12 col-sm-12 col-xs-12 form-group" show-errors style="margin-bottom:-10px;">
                <label class="label-styles-msg"><b>Password</b></label>
                <input class="input-styles" class="form-control " type="password" id="password1" name="password1" ng-model="credentials.password1" required>
                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="userForm.password1.$error.requirements">{{passwordError}}</p>
                </div>
                <div ng-messages="userForm.password1.$error" role="alert">
                  <div ng-message="required">password is required.</div>
                </div>
              </md-input-container>

            </div>
            <div class="row">
              <md-input-container class=" col-md-12 col-sm-12 col-xs-12 form-group" show-errors style="margin-bottom:-10px;">
                <label class="label-styles-msg"><b>Confirm Password</b></label>
                <input class="input-styles" class="form-control " type="password" id="password2" name="password2" ng-model="credentials.password2" required ng-change="pwdCompare()">
                <div ng-messages="userForm.password2.$error" role="alert">
                  <!--<p class="help-block error-text" ng-message="required">Password is required.</p>-->
                  <div ng-message="required">Confirm Password is required.</div>
                </div>
              </md-input-container>

            </div>


            <div class="text-center form-group">
              <md-button type="submit" class="md-raised md-primary premium_view_btn col-md-12 col-sm-12 col-xs-12" ng-disabled="userForm.$invalid" style="color:white;left:-7px;"><b>SIGN UP</b></md-button>
            </div>
            <uib-alert type="danger" ng-show="error" class="text-center text-danger" style="margin-top:75px;">
              <span ng-bind="error"></span>
            </uib-alert>
          </form>






          <!--<div class="divider">
  <hr class="left" /><span style="font-size: 12px;color:#ccc">OR</span>
  <hr class="right" />
</div>
<div class="text-center">
  <button type="button" class="btn fb-btn-style"><i class="fa fa-facebook">&nbsp;&nbsp;</i> Sign in with Facebook</button>
  <br>
  <button type="button" class="btn g-btn-style"><i class="fa fa-google-plus">&nbsp;&nbsp;</i> Sign in with Google</button>
</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
