/*@media screen and (max-width: 480px) {
  @media screen and (max-width: 300px) {
    .business_sector_select {
      width: 220px !important;
    }
  }
  .content_on_grey_bg {
    top: 268% !important;
  }
  .message {
    width: 265px !important;
    margin-left: -25px;
  }
  .footer_elements {
    padding-top: 0px;
  }
  .footer_img {
    padding: 70px 50px 35px !important;
  }
  .footer_social_row {
    padding-left: 5px;
  }
  .authentication {
    padding-left: 0px !important;
  }
  .business_sector_select {
    width: 270px;
  }
  .nav > li > a {
    color: rgb(255, 255, 255) !important;
  }
  .header-title-names:hover {
    color: #ccc !important;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius: 0px;
  }
  .authentication {
    padding-left: 0px;
  }
  #tb-navbar-collapse {
    padding-top: 0px;
  }
  .navbar-inverse {
    background-color: #029ce3 !important;
    border-color: #029ce3 !important;
    background-image: -webkit-linear-gradient(top, #029ce3 0%, #02a8f3 100%) !important;
    background-image: -o-linear-gradient(top, #029ce3 0%, #02a8f3 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#029ce3), to(#02a8f3)) !important;
    background-image: linear-gradient(to bottom, #029ce3 0%, #02a8f3 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff029ce3', endColorstr='#ff02a8f3', GradientType=0) !important;
  }
  #tb_top_menu {
    padding-top: 0px;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #337ab7;
  }
  .product-square-img {
    max-height: 180px !important;
  }
  .code,
  .tel {
    display: inline-block;
    padding: 0px !important;
  }
  .readOnlyRating {
    font-size: 12px;
  }
}*/


/*-----------------Midhun media screens styles----------------------------*/

@media (min-width: 992px) {
  .col-md-offset-3 {
   margin-left: 28%;
 }
}

@media (max-width: 991px) {
  .container {
    width: 95%;
    padding-right: 0;
    padding-left: 20px;
  }
  .header_carousel_box {
    position: relative;
    top: 30px !important;
  }
  .carousel_footer_options {
    margin-top: 30px;
    font-size: 12px;
  }
  .smple_desc {
    margin-top: 90px;
  }
  .sngle_view {
    left: 0px;
    top: 60px;
  }
}

@media (max-width: 765px) {
  .smple_desc {
    margin-top: 5px;
  }
  .prdct_srt_view_icons {
    margin-left: -45px;
  }
}


/*-----------------UPTO HERE Midhun media screens styles----------------------------*/


/*@media (min-width: 768px) {
  .container {
    width: 95%;
    padding-right: 0;
    padding-left: 0;
  }
}*/


/*@media (min-width: 768px) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 30px;
  }
}*/


/*@media (max-width: 768px) {
  .navbar-collapse {
    background-color: rgb(2, 168, 243);
    color: white;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    #border: 1px solid #efe;
  }
  .nav > li > a {
    padding: 10px 15px !important;
    border-top: 1px solid white;
  }
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .active > a {
    background: #eee !important;
    color: grey !important;
  }
  .header-title-names:hover {
    color: #ccc !important;
  }
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius: 0px;
  }
  .authentication {
    padding-left: 0px;
  }
  #tb-navbar-collapse {
    padding-top: 0px;
  }
  .navbar-inverse {
    background-color: #029ce3 !important;
    border-color: #029ce3 !important;
    background-image: -webkit-linear-gradient(top, #029ce3 0%, #02a8f3 100%) !important;
    background-image: -o-linear-gradient(top, #029ce3 0%, #02a8f3 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#029ce3), to(#02a8f3)) !important;
    background-image: linear-gradient(to bottom, #029ce3 0%, #02a8f3 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff029ce3', endColorstr='#ff02a8f3', GradientType=0) !important;
  }
  #tb_top_menu {
    padding-top: 0px;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #337ab7;
  }
  .content-on-img-about {
    top: 70px;
    position: absolute;
    padding: 20px;
  }
  .content-on-img {
    top: 0px;
    position: relative;
    background-color: #B3D4F7;
  }
  .navbar-nav {
    margin: 2px -15px;
  }
  .navbar-header {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(255, 255, 255) !important;
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 100%) !important;
    background-image: -o-linear-gradient(top, #f2f2f2 0%, #fff 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fff)) !important;
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #fff 100%) !important;
    padding-bottom: 10px;
  }
  .navbar-inverse .navbar-nav > .active > a:hover {
    color: #029ce3 !important;
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #fff 100%) !important;
    background-image: -o-linear-gradient(top, #f2f2f2 0%, #fff 100%) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fff)) !important;
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #fff 100%) !important;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: rgb(2, 168, 243);
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #f2f2f2;
    border-top: 1px solid #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #ccc !important;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #ccc !important;
  }
  .dropdown-menu {
    padding: 0px;
  }
  .product-square-img {
    #width: 35%;
  }
  .content-on-img {
    padding: 30px 0px;
  }
  .cssSlideUp {
    height: 100px;
  }
  .mobile-search-btn {
    margin-left: -14px;
    width: 114%;
    padding: 5px;
  }
  .premium-product {
    min-height: 420px !important;
  }
  .select_on_search_results {
    width: 90px;
    font-size: 15px;
    padding: 0px 8px;
    height: 30px;
  }
  .list-title {
    font-size: 16px
  }
  .result-header {
    margin: 0px -15px;
    margin-top: 11px;
  }
}*/
