<!--<div class="container">
  <div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
      <br>
      <h2>Add Your Product</h2>
      <hr class="small">
      <br>
      <br>
      <p class="text_on_add_company">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <br>
      <br>
      <form name="vm.form.companyForm" class="form-horizontal" ng-submit="vm.addCompanyDetails(vm.form.companyForm.$valid)" novalidate autocomplete="off">
        <div class="form-group">
  <div class="col-md-6 col-md-offset-3 floating-label-form-group">
    <label>Product Name</label>
    <input type="text" name="productName" class="company_name_field" id="name" placeholder="Product Name" ng-model="vm.company.Proname" required>
  </div>
  <div ng-messages="vm.form.companyForm.name.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Product name is required.</p>
  </div>
</div>
<br>
<h4 class="heading_Text">Product Image</h4>
<span>&nbsp;&nbsp;<small>(jpg,png,gif)</small></span>
<br ng-show="productImg">
<div class="text-center form-group">
  <center>
    <button class="file-upload btn-custom-style" ng-hide="productImg">
      <input type="file" name="productPic" accept="image/x-png, image/gif, image/jpeg" ng-model="productImg" base-sixty-four-input required ng-change="previewImg(productImg)" class="file-input">Choose File</button>
    <span ng-show="productImg"><img alt="productImg" ng-src="{{imgUrl}}" class="photo" width="15%" /><i class="fa fa-times" ng-click="productImg = ''" style="position: absolute;margin-top:-50px;font-size: 25px;"></i></span></center>
  <br ng-show="productImg">
  <button ng-show="productImg" class="btn btn-custom-style" ng-click="uploadProImg()" ng-disabled="vm.form.companyForm.productPic.$invalid || vm.form.companyForm.productName.$invalid">UPLOAD IMAGE</button>
</div>
<small ng-hide="productImg">No file selected</small>
<br>
<br>
<div class="form-group add_form_category">
  <select ng-model="selectedCategory" ng-init="selectedCategory = categoriesList[0]" ng-selected="selectedCategory" ng-options="cats for cats in categoriesList" ng-change="SelectedCat(selectedCategory)" required>
  </select>
</div>
<div class="row">
  <div class="col-md-offset-3 col-md-7 col-xs-offset-1 col-xs-11 ">
    <div class="form-group floating-label-form-group">
      <label>Description</label>
      <textarea class="description" id="description" placeholder="Description" rows="7" ng-model="vm.company.description" required></textarea>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-md-6 col-md-offset-3 floating-label-form-group">
    <label>Company Name</label>
    <input type="text" name="name" class="company_name_field" id="name" placeholder="Company Name" ng-model="vm.company.Comname" required>
  </div>
  <div ng-messages="vm.form.companyForm.name.$error" role="alert">
    <p class="help-block error-text" ng-message="required">Company name is required.</p>
  </div>
</div>
<div class="form-group">
  <div class="col-md-6 col-md-offset-3 floating-label-form-group">
    <label>Website Address</label>
    <input type="text" class="company_name_field" id="website_address" placeholder="Website Address" ng-model="vm.company.webAddress" required>
  </div>
</div>
<div class="form-group">
  <div class="col-md-6 col-md-offset-3 floating-label-form-group">
    <label>Email</label>
    <input type="email" class="company_name_field" id="email" placeholder="Email" ng-model="vm.company.email">
  </div>
</div>
<div class="form-inline">
  <div class="form-group floating-label-form-group">
    <label>Code</label>
    <input type="number" class="codeNum" id="code" placeholder="Code" ng-model="vm.company.mobileCode">
  </div>
  <div class="form-group floating-label-form-group">
    <label>Telephone Number</label>
    <input type="number" class="telephone_number" id="telephone_number" placeholder="Telephone Number" ng-model="vm.company.phoneNo">
  </div>
</div>
<h4 class="heading_Text">Contact Details</h4>
<div class="form-inline">
  <div class="form-group form_inline_styles floating-label-form-group">
    <label>Address line 1</label>
    <input type="text" class="address_fields" id="address1" placeholder="Address line 1" ng-model="vm.company.address1">
  </div>
  <div class="form-group form_inline_styles floating-label-form-group">
    <label>Address line 2</label>
    <input type="text" class="address_fields" id="address2" placeholder="Address line 2" ng-model="vm.company.address2">
  </div>
</div>
<br>
<div class="form-inline">
  <div class="form-group form_inline_styles floating-label-form-group">
    <label>Address line 3</label>
    <input type="text" class="address_fields" id="address3" placeholder="Address line 3" ng-model="vm.company.address3">
  </div>
  <div class="form-group form_inline_styles floating-label-form-group">
    <label>Address line 4</label>
    <input type="text" class="address_fields" id="address4" placeholder="Address line 4" ng-model="vm.company.address4">
  </div>
</div>
<br>
<div class="form-inline">
  <div class="form-group form_inline_styles floating-label-form-group">
    <label>Post code / Zip Code</label>
    <input type="text" class="address_fields zipCode" id="zipCode" placeholder="Post code / Zip Code" ng-model="vm.company.zipCode">
  </div>
  <div class="form-group form_inline_styles floating-label-form-group">
    <label>Country</label>
    <input type="text" class="address_fields" id="Country" placeholder="Country" ng-model="vm.company.country">
  </div>
</div>
<br>



        <h5 class="heading_Text">Choose Business Sectors</h5>
        <div class="row text-center">
          <div class="col-md-7 col-md-offset-4">
            <div class="form-group" style="padding-left: 40px;">
              <i class="fa fa-briefcase briefCase_Cog"></i>
              <div ng-dropdown-multiselect="" options="businessSectorList" selected-model="businessSectorSelectedArray" checkboxes="true" extra-settings="businessSectorSettings" class="business_sector_select" translation-texts="businessSectorTexts"></div>
            </div>
          </div>
        </div>
        <span class="col-sd-4" ng-repeat="val in businessSectorSelectedArray">
            <span class="business_sector_selected_vals">{{val.id}} &nbsp;<i class="fa fa-times" ng-click="removebusinessSectorSelectedVal($index)"></i></span>
        </span>
        <br>
        <div class="row text-center">
          <div class="col-md-7 col-md-offset-4">
            <div class="form-group" style="padding-left: 40px;">
              <i class="fa fa-cog briefCase_Cog"></i>
              <div ng-dropdown-multiselect="" options="serviceOfferedList" selected-model="serviceOfferedSelectedArray" checkboxes="true" extra-settings="serviceOfferedSettings" class="business_sector_select" translation-texts="serviceOfferedTexts"></div>
            </div>
          </div>
        </div>
        <span class="col-sd-4" ng-repeat="val in serviceOfferedSelectedArray">
            <span class="business_sector_selected_vals">{{val.id}} &nbsp;<i class="fa fa-times" ng-click="removeserviceOfferedSelectedVal($index)"></i></span>
        </span>
        <h5 class="heading_Text">Choose Operational Regions</h5>
        <br>
        <div class="row" ng-repeat="regions in operationalRegionsList | groupBy:3">
          <div ng-repeat="region in regions track by $index">
            <div class="col-md-4 col-xs-12 invisible_checkbox">
              <div class="row">
                <div class="col-xs-3">
                  <input type="checkbox" id="region" ng-checked="CheckedOperationalReg(region)" ng-model="selectionOperational.ids[region]">
                </div>
                <div class="col-xs-9" style="float:left">
                  <label for="region" class="operational_regions"> {{region}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-custom-style" ng-disabled="vm.form.companyForm.$invalid">SUBMIT</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </form>
    </div>
  </div>
</div>-->



<div class="container">
  <div class="row text-center">
    <br>
    <h2>Add Your Product</h2>
    <hr class="small">
    <br>
    <br>
    <p class="text_on_add_company">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <br>
    <br>
  </div>
  <form name="vm.form.companyForm" ng-submit="vm.addCompanyDetails(vm.form.companyForm.$valid)" novalidate autocomplete="off">
    <div class="row">
      <div class="text col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 floating-label-form-group">
        <label>Product Name</label>
        <input type="text" class="form-control add_new_fields" placeholder="Product Name" ng-model="vm.company.Proname" required>
      </div>
      <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10" ng-messages="vm.form.companyForm.name.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Product name is required.</p>
      </div>
    </div>
    <div class="text-center">
      <br>
      <h4 class="heading_Text">Product Image</h4>
      <h5>&nbsp;&nbsp;<small>(jpg,png,gif)</small></h5>
      <br ng-show="productImg">
      <button class="file-upload btn-custom-style" ng-hide="productImg">
        <input type="file" name="productPic" accept="image/x-png, image/gif, image/jpeg" ng-model="productImg" base-sixty-four-input required ng-change="previewImg(productImg)" class="file-input">Choose File</button>
      <span ng-show="productImg"><img alt="productImg" ng-src="{{imgUrl}}" class="photo" width="15%" /><i class="fa fa-times" ng-click="productImg = ''" style="position: absolute;margin-top:-50px;font-size: 25px;"></i></span>
      <br ng-show="productImg">
      <button ng-show="productImg" class="btn btn-custom-style" ng-click="uploadProImg()" ng-disabled="vm.form.companyForm.productPic.$invalid || vm.form.companyForm.productName.$invalid">UPLOAD IMAGE</button>
      <br>
      <small ng-hide="productImg">No file selected</small>
      <br>

    </div>

    <div class="row">
      <div class="form-group add_form_category text-center col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 floating-label-form-group">
        <label>Category</label>
        <select class="form-control add_new_fields" ng-model="selectedCategory" ng-init="selectedCategory = categoriesList[0]" ng-selected="selectedCategory" ng-options="cats for cats in categoriesList" ng-change="SelectedCat(selectedCategory)" required>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 floating-label-form-group">
        <label>Description</label>
        <textarea class="form-control description" rows="6" id="description" placeholder="Description" ng-model="vm.company.description" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 floating-label-form-group">
        <label>Company Name</label>
        <input type="text" class="form-control add_new_fields" id="company name" placeholder="Company Name" ng-model="vm.company.Comname" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 floating-label-form-group">
        <label>Website Address</label>
        <input type="text" class="form-control add_new_fields" id="website address" placeholder="Website Address" ng-model="vm.company.webAddress" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 floating-label-form-group">
        <label>Email</label>
        <input type="email" class="form-control add_new_fields" id="email" placeholder="Email" ng-model="vm.company.email">
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
        <div class="form-group col-md-3 col-xs-5 code floating-label-form-group">
          <label>Code</label>
          <input type="number" class="form-control add_new_fields" id="code" placeholder="Code" ng-model="vm.company.mobileCode">
        </div>
        <div class="form-group col-md-9 col-xs-7 tel floating-label-form-group">
          <label>Telephone</label>
          <input type="tel" id="telephone" placeholder="Telephone" class="form-control add_new_fields" ng-model="vm.company.phoneNo">
        </div>
      </div>
    </div>
    <h4 class="text-center heading_Text">Contact Details</h4>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Address line 1</label>
          <input type="text" class="form-control add_new_fields" id="addressline1" placeholder="Address line 1" ng-model="vm.company.address1">
        </div>
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Address line 2</label>
          <input type="text" class="form-control add_new_fields" id="addressline2" placeholder="Address line 2" ng-model="vm.company.address2">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Address line 3</label>
          <input type="text" class="form-control add_new_fields" id="addressline3" placeholder="Address line 3" ng-model="vm.company.address3">
        </div>
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Address line 4</label>
          <input type="text" class="form-control add_new_fields" id="addressline4" placeholder="Address line 4" ng-model="vm.company.address4">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Postal/Zip code</label>
          <input type="text" class="form-control add_new_fields" id="postalcode" placeholder="Postal / Zip Code" ng-model="vm.company.zipCode">
        </div>
        <div class="form-group col-md-6 col-sm-6 floating-label-form-group">
          <label>Country</label>
          <input type="text" class="form-control add_new_fields" id="country" placeholder="Country" ng-model="vm.company.country">
        </div>
      </div>
    </div>
    <h4 class="heading_Text text-center">Choose Business Sectors</h4>
    <div class="row">
      <div class="form-group text-center col-md-offset-5 col-md-4 col-sm-offset-4 col-sm-4  col-xs-10">
        <i class="fa fa-briefcase briefCase_Cog"></i>
        <div ng-dropdown-multiselect="" options="businessSectorList" selected-model="businessSectorSelectedArray" checkboxes="true" extra-settings="businessSectorSettings" class="business_sector_select" translation-texts="businessSectorTexts"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
        <span class="col-sd-4" ng-repeat="val in businessSectorSelectedArray">
            <span class="business_sector_selected_vals">{{val.id}} &nbsp;<i class="fa fa-times" ng-click="removebusinessSectorSelectedVal($index)"></i></span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group text-center col-md-offset-5 col-md-4 col-sm-offset-4 col-sm-4 col-xs-10">
        <i class="fa fa-cog briefCase_Cog"></i>
        <div ng-dropdown-multiselect="" options="serviceOfferedList" selected-model="serviceOfferedSelectedArray" checkboxes="true" extra-settings="serviceOfferedSettings" class="business_sector_select" translation-texts="serviceOfferedTexts"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">
        <span class="col-sd-4" ng-repeat="val in serviceOfferedSelectedArray">
            <span class="business_sector_selected_vals">{{val.id}} &nbsp;<i class="fa fa-times" ng-click="removeserviceOfferedSelectedVal($index)"></i></span>
        </span>
      </div>
    </div>
    <h5 class="heading_Text text-center">Choose Operational Regions</h5>
    <div class="row">
      <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 col-xs-offset-1 col-xs-10">
        <div class="row" ng-repeat="regions in operationalRegionsList | groupBy:3">
          <div ng-repeat="region in regions track by $index">
            <div class="col-md-4 col-sm-6 col-xs-12 invisible_checkbox">
              <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" id="region" ng-checked="CheckedOperationalReg(region)" ng-model="selectionOperational.ids[region]">
                </div>
                <div class="col-xs-9" style="float:left">
                  <label for="region" class="operational_regions"> {{region}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center form-group">
      <button type="submit" class="btn btn-custom-style" ng-disabled="vm.form.companyForm.$invalid">SUBMIT</button>
    </div>
    <div ng-show="vm.error" class="text-danger">
      <strong ng-bind="vm.error"></strong>
    </div>
  </form>
</div>
