<div class="container">
  <div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
      <br>
      <h2>Add Your Product</h2>
      <hr class="small">
      <br>
      <br>
      <p class="text_on_add_company">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <br>
      <br>
      <form name="vm.form.companyForm" class="form-horizontal" ng-submit="vm.addCompanyDetails(vm.form.companyForm.$valid)" novalidate autocomplete="off">
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <input type="text" name="name" class="company_name_field" id="name" placeholder="Product Name" ng-model="vm.company.Proname" required>
          </div>
          <div ng-messages="vm.form.companyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div>
        <br>
        <h4 class="heading_Text">Upload Company logo</h4>
        <span>&nbsp;&nbsp;<small>(jpg,png,gif)</small></span>
        <br>
        <div class="text-center form-group">
          <button class="btn btn-custom-style">UPLOAD FILE</button>
        </div>
        <small>No file selected</small>
        <br>
        <br>
        <div class="form-group add_form_category">
          <select ng-model="selectedCategory" ng-init="selectedCategory = categoriesList[0]" ng-selected="selectedCategory" ng-options="cats for cats in categoriesList" ng-change="SelectedCat(selectedCategory)" required>
          </select>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-7 col-xs-offset-1 col-xs-11">
            <div class="form-group">
              <textarea class="description" id="description" placeholder="Description" rows="7" ng-model="vm.company.description" required></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <input type="text" name="name" class="company_name_field" id="name" placeholder="Company Name" ng-model="vm.company.Comname" required>
          </div>
          <div ng-messages="vm.form.companyForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Company name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <input type="text" class="company_name_field" id="website_address" placeholder="Website Address" ng-model="vm.company.webAddress" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <input type="email" class="company_name_field" id="email" placeholder="Email" ng-model="vm.company.email">
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <input type="number" class="codeNum" id="code" placeholder="Code" ng-model="vm.company.mobileCode">
          </div>
          <div class="form-group">
            <input type="number" class="telephone_number" id="telephone_number" placeholder="Telephone Number" ng-model="vm.company.phoneNo">
          </div>
        </div>
        <h4 class="heading_Text">Contact Details</h4>
        <div class="form-inline">
          <div class="form-group form_inline_styles">
            <input type="text" class="address_fields" id="address1" placeholder="Address line 1" ng-model="vm.company.address1">
          </div>
          <div class="form-group form_inline_styles">
            <input type="text" class="address_fields" id="address2" placeholder="Address line 2" ng-model="vm.company.address2">
          </div>
        </div>
        <br>
        <div class="form-inline">
          <div class="form-group form_inline_styles">
            <input type="text" class="address_fields" id="address3" placeholder="Address line 3" ng-model="vm.company.address3">
          </div>
          <div class="form-group form_inline_styles">
            <input type="text" class="address_fields" id="address4" placeholder="Address line 4" ng-model="vm.company.address4">
          </div>
        </div>
        <br>
        <div class="form-inline">
          <div class="form-group form_inline_styles">
            <input type="text" class="address_fields zipCode" id="zipCode" placeholder="Post code / Zip Code" ng-model="vm.company.zipCode">
          </div>
          <div class="form-group form_inline_styles">
            <input type="text" class="address_fields" id="Country" placeholder="Country" ng-model="vm.company.country">
          </div>
        </div>
        <br>



        <h5 class="heading_Text">Choose Business Sectors</h5>
        <div class="row text-center">
          <div class="col-md-7 col-md-offset-4">
            <div class="form-group" style="padding-left: 40px;">
              <i class="fa fa-briefcase briefCase_Cog"></i>
              <div ng-dropdown-multiselect="" options="businessSectorList" selected-model="businessSectorSelectedArray" checkboxes="true" extra-settings="businessSectorSettings" class="business_sector_select" translation-texts="businessSectorTexts"></div>
            </div>
          </div>
        </div>
        <span class="col-sd-4" ng-repeat="val in businessSectorSelectedArray">
            <span class="business_sector_selected_vals">{{val.id}} &nbsp;<i class="fa fa-times" ng-click="removebusinessSectorSelectedVal($index)"></i></span>
        </span>
        <br>
        <div class="row text-center">
          <div class="col-md-7 col-md-offset-4">
            <div class="form-group" style="padding-left: 40px;">
              <i class="fa fa-cog briefCase_Cog"></i>
              <div ng-dropdown-multiselect="" options="serviceOfferedList" selected-model="serviceOfferedSelectedArray" checkboxes="true" extra-settings="serviceOfferedSettings" class="business_sector_select" translation-texts="serviceOfferedTexts"></div>
            </div>
          </div>
        </div>
        <span class="col-sd-4" ng-repeat="val in serviceOfferedSelectedArray">
            <span class="business_sector_selected_vals">{{val.id}} &nbsp;<i class="fa fa-times" ng-click="removeserviceOfferedSelectedVal($index)"></i></span>
        </span>
        <h5 class="heading_Text">Choose Operational Regions</h5>
        <br>
        <div class="row" ng-repeat="regions in operationalRegionsList | groupBy:3">
          <div ng-repeat="region in regions track by $index">
            <div class="col-md-4 col-xs-12 invisible_checkbox">
              <div class="row">
                <div class="col-xs-3">
                  <input type="checkbox" id="region" ng-checked="CheckedOperationalReg(region)" ng-model="selectionOperational.ids[region]">
                </div>
                <div class="col-xs-9" style="float:left">
                  <label for="region" class="operational_regions"> {{region}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-custom-style">SUBMIT</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </form>
    </div>
  </div>
</div>
