<section class="container">
  <br>
  <div class="text-center">
    <h2>Search Results</h2>
    <hr class="small">
  </div>
  <br>
  <div class="row">
    <span class="col-md-2 Back_to_search"><i class="fa fa-angle-left"></i>&nbsp;&nbsp; Back to search</span><span class="col-md-8"><center><select class="select_on_search_results">
              <option>Sort by</option>
              <option>Filter</option>
              <option>Filter</option>
              <option>Filter</option>
              <option>Filter</option>
              <option>Filter</option>
            </select></center></span>
  </div>
  <br>
  <br>
  <!--<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>-->
  <div class="text-center">
    <div class="row">
      <div ng-repeat="val in vm.companys">
        <div class="clearfix" ng-if="$index % 2 == 0"></div>
        <div class="col-md-6 col-xs-12">
          <product-thumbnail details=val></product-thumbnail>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.companies.$resolved && !vm.companies.length">
    No companies yet, why don't you <a ui-sref="companies.create">create one</a>?
  </div>
</section>
