<div class="container" ng-init="getSearchedProductsList()">


  <update-title title="Thingsberry {{vm.company.Proname}} - Product"></update-title>
  <update-meta charset="ISO-8859-1"></update-meta>
  <update-meta http-equiv="Content-Language" content="es"></update-meta>
  <update-meta name="description" content="{{vm.company.description}}"></update-meta>
  <update-meta property="og:title" content="Thingsberry {{vm.company.Proname}} - Product"></update-meta>
  <update-meta itemprop="description" content="{{vm.company.description}}"></update-meta>
  <update-meta property="og:image" content="{{vm.company.productImageURL}}"></update-meta>
  <update-meta property="og:url" content="{{path}}"></update-meta>

  <!--<update-meta property="twitter:title" content="Thingsberry {{vm.company.Proname}} - Product"></update-meta>
  <update-meta property="twitter:description" content="{{vm.company.description}}"></update-meta>
  <update-meta property="twitter:url" content="{{path}}"></update-meta>
  <update-meta property="twitter:image" content="{{vm.company.productImageURL}}"></update-meta>-->

  <div class="row snglPrdctPage">
    <div class="col-md-9 col-xs-10 col-xs-offset-1 ">
      <div class="row">
        <span class="backBtn back_on_sngle_prdct_view " onclick="history.back(-1)"><span class="back_to_prdcts"></span></span>
      </div>
      <div class="row new_sngle_prdct_box">
        <div class="col-md-5 col-sm-5" style="padding:0px;">
          <p>
            <a ng-href="{{vm.company.webAddress}}" target="_blank"> <img class="" ng-src="{{vm.company.productImageURL}}" style="width:100%;height:300px;"> </a>
          </p>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12 prdct_rightSide_desc">
          <!--   <tb-ratings-container prod-id={{prodId}} state="singlePrdct" products="vm.company" style="float:right;" class="visible-xs"></tb-ratings-container>-->
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-5">
              <span class="date_icon_in_sngle_prdct"><i class="fa fa-calendar" aria-hidden="true" style="font-style:italic"></i>  {{date |date:'MMM d, yyyy'}}</span>
            </div>
            <!--<div class="col-md-1 col-sm-2 col-xs-1">
              <i class="fa fa-heart-o icons_in_sngle_prdct"></i>
            </div>-->
            <!--<div class="col-md-3 col-sm-3" style="bottom:6px;">
        <a ng-href="{{details.webAddress}}" target="_blank"> <md-button class="md-raised md-primary col-md-4 col-sm-3 col-xs-3" style="margin:0px;"><b>Link <i class="fa fa-link" aria-hidden="true" style="transform: rotate(-45deg);"></i></b></md-button></a>
        </div>-->
            <div class="col-md-1 col-sm-2 col-xs-1 ">
              <tb-share state="singlePrdct" products="vm.company" class="text-left"></tb-share>
            </div>
            <tb-ratings-container prod-id={{prodId}} state="singlePrdct" products="vm.company" style="float:right;"></tb-ratings-container>
          </div>
          <div class="row">
            <h2 class="single_product_Name">{{vm.company.Proname}}</h2>
          </div>
          <tb-small-snippet desc={{vm.company.description}} prod-id={{prodId}}></tb-small-snippet>
          <div class="row ">
            <div class="col-md-4" style="bottom:6px;">
              <a ng-href="{{vm.company.webAddress}}" target="_blank">
                <md-button class="md-raised md-primary col-md-4 col-sm-3 col-xs-3" style="margin:0px;"><b>Link <i class="fa fa-link" aria-hidden="true" style="transform: rotate(-45deg);"></i></b></md-button>
              </a>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-4 pull-right">
              <div ng-show="editIcon"> <i class="fa fa-pencil pencilIcon new_list_prdct_view_footer_icons" ng-click="editProductFunc(vm.company)"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row new_sngle_prdct_box">
        <h3 class="text-center">Comments</h3>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.experiment.enable_scroll_container = true;
          };

          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document,
              s = d.createElement('script');
            s.src = '//qathingsberry.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();

          /* * * Disqus Reset Function * * */
          var reset = function (newIdentifier, newUrl, newTitle, newLanguage) {
            DISQUS.reset({
              reload: true,
              config: function () {
                this.page.identifier = newIdentifier;
                this.page.url = newUrl;
                this.page.title = newTitle;
                this.language = newLanguage;
                this.experiment.enable_scroll_container = true;
              }
            });
          };
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Things.</a>
        </noscript>
      </div>
    </div>



    <div class="col-md-3 col-xs-12" style="margin-top:40px;">
      <!-- <h4>Under progress.....</h4>-->
    </div>

    <a id='backTop'>Back To Top</a>
    <script>
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $("#backTop").fadeIn();
          } else {
            $("#backTop").fadeOut();
          }
        });

        // scroll body to 0px on click
        $("#backTop").click(function () {
          $("html, body").animate({
            scrollTop: 0
          }, 800);
          return false;
        })
      });
    </script>

  </div>



</div>
