<tb-header-image image="../../../../modules/core/client/img/products.jpg" opacity="1" maintitle="Product Listing ::" subtitle="">
</tb-header-image>
<div class="container">

  <update-title title="Thingsberry Products List"></update-title>
  <update-meta name="description" content="A List of IOT Products"></update-meta>
  <update-meta property="og:title" content="Thingsberry Products List"></update-meta>
  <update-meta itemprop="description" content="A List of IOT Products"></update-meta>
  <update-meta property="og:image" content="https://www.thingsberry.com/modules/core/client/img/shareProducts.jpg"></update-meta>
  <update-meta property="og:url" content="{{path}}"></update-meta>


  <div class="row  prdcts-list-box">
    <div class="col-md-10 col-xs-12">
      <div ui-view></div>
    </div>



    <div class="col-md-2 col-sm-10 col-sm-offset-1 col-md-offset-0 hidden-xs allPrdctsAccrdnsPage" ng-init="getCategoriesForSide();getFrequentlyProducts()" style="padding-right:0px;">
      <div ng-show="accrdnsPanelArray">
        <div class="row frequentCat">
          <h4><b>CATEGORIES :::</b></h4>
        </div>
        <div class="row accrdnsMinHeight" ng-class="carouselBg3">
          <tb-accordions categories="accrdnsPanelArray"></tb-accordions>
        </div>
      </div>
      <div class="hidden-sm" ng-show="frequentProducts">
        <div class="row frequentCat">
          <h4><b>You May also Like :::</b></h4>
        </div>
        <div class="row" ng-repeat="val in frequentProducts">
          <tb-frequent-products details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-frequent-products>
        </div>
      </div>
      <div class="visible-sm" style="margin-bottom:30px;">
        <div class="row frequentCatInSm">
          <h4 style="font-size:32px;"><b>You May also Like :::</b></h4>
        </div>
        <div class="row">
          <div ng-repeat="val in frequentProducts |limitTo:2">
            <div class="col-sm-5 prdct-tile">
              <tb-products-grid details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-products-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a id='backTop'>Back To Top</a>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $("#backTop").fadeIn();
        } else {
          $("#backTop").fadeOut();
        }
      });

      // scroll body to 0px on click
      $("#backTop").click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 800);
        return false;
      })
      $("#backTop1").click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 800);
        return false;
      })

    });
  </script>

</div>
