<tb-header-image image="../../../../modules/core/client/img/products.jpg" opacity="1" maintitle="Product Listing ::" subtitle="">
</tb-header-image>
<div class="container">

  <update-title title="Thingsberry Products List"></update-title>
  <update-meta name="description" content="A List of IOT Products"></update-meta>
  <update-meta property="og:title" content="Thingsberry Products List"></update-meta>
  <update-meta itemprop="description" content="A List of IOT Products"></update-meta>
  <update-meta property="og:image" content="https://www.thingsberry.com/modules/core/client/img/shareProducts.jpg"></update-meta>
  <update-meta property="og:url" content="{{path}}"></update-meta>


  <div class="row  prdcts-list-box">
    <div class="visible-xs visible-sm col-xs-11 col-sm-10 col-sm-offset-1 catsBox-in-xs" ng-init="getCategoriesForSide();" style="margin-bottom:10px;">
      <div ng-show="accrdnsPanelArray">
        <div class="row cat-filters" ng-class="{'col-xs-8 col-xs-offset-2 cat-filters-roundBoreder':showCategoryFilterBox==false}">
          <div class="text-center "><b ng-click="showCatsFilter(showCategoryFilterBox)" style="outline:none;color:#808080;"><i class="fa fa-sliders" aria-hidden="true" style="transform: rotate(90deg);color:#3f51b5"></i> &nbsp;CATEGORIES</b>
            <p style="color:#a6a6a6;margin:0px;text-transform:capitalize;">{{listActive1?catsFullName:'No'}} category selected</p>
          </div>
          <div ng-show="showCategoryFilterBox" class="sub-category-trans">
            <div class="col-xs-5 catsForMobile" ng-repeat="cats in accrdnsPanelArray track by $index" ng-class="{'singleCatShow':$index==indexVal,'singleCatBorder':showCatsSub==false}">
              <div class="defaultHeadStyle" ng-class="{'cats-head-style':($index==indexVal),'cats-head-removeStyle':(showCatsSub==false)}" ng-click="getCatForMob(showCatsSub,$index)">{{cats.heading}} &nbsp;( {{cats.count}}+ )</div>
              <div ng-show=" $index==indexVal">
                <div class="cats-sub" ng-class="{'mobileListActive':(listActive===list.name) &&(listActive1===$parent.cats.heading) }" ng-show="showCatsSub " ng-repeat="list in cats.contents">
                  <div class="defaultSubStyle" ng-click="getCategoryProduct(list.name,$parent.cats.heading,list.contents)" ng-class="{'mobileListActiveClr':(listActive===list.name) &&(listActive1===$parent.cats.heading) }">{{list.name==="More"?"More..." : list.name}} <span ng-hide="list.name==='More'">({{list.count}})</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-10 col-xs-12">
      <div ui-view="allproducts"></div>
    </div>


    <div class="col-md-2 col-md-offset-0 hidden-xs hidden-sm allPrdctsAccrdnsPage" ng-init="getCategoriesForSide();getFrequentlyProducts()" style="padding-right:0px;">
      <div ng-show="accrdnsPanelArray">
        <div class="row frequentCat">
          <h4><b>CATEGORIES :::</b></h4>
        </div>
        <div class="row accrdnsMinHeight" ng-class="carouselBg3">
          <tb-accordions categories="accrdnsPanelArray"></tb-accordions>
        </div>
      </div>
      <div class="hidden-sm" ng-show="frequentProducts">
        <div class="row frequentCat">
          <h4><b>You May also Like :::</b></h4>
        </div>
        <div class="row" ng-repeat="val in frequentProducts">
          <tb-frequent-products details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-frequent-products>
        </div>
      </div>
      <div class="visible-sm" style="margin-bottom:30px;">
        <div class="row frequentCatInSm">
          <h4 style="font-size:32px;"><b>You May also Like :::</b></h4>
        </div>
        <div class="row">
          <div ng-repeat="val in frequentProducts |limitTo:2">
            <div class="col-sm-5 prdct-tile">
              <tb-products-grid details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-products-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a id='backTop'>Back To Top</a>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $("#backTop").fadeIn();
        } else {
          $("#backTop").fadeOut();
        }
      });

      // scroll body to 0px on click
      $("#backTop").click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 800);
        return false;
      })
      $("#backTop1").click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 800);
        return false;
      })

    });
  </script>

</div>
