<div class="container" ng-init="getSearchedProductsList()">


  <update-title title="Thingsberry {{vm.company.Proname}} - Product"></update-title>
  <update-meta charset="ISO-8859-1"></update-meta>
  <update-meta http-equiv="Content-Language" content="es"></update-meta>
  <update-meta name="description" content="{{vm.company.description}}"></update-meta>
  <update-meta property="og:title" content="Thingsberry {{vm.company.Proname}} - Product"></update-meta>
  <update-meta itemprop="description" content="{{vm.company.description}}"></update-meta>
  <update-meta property="og:image" content="{{vm.company.productImageURL}}"></update-meta>
  <update-meta property="og:url" content="{{path}}"></update-meta>
    <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">


  <div class="row snglPrdctPage">
    <div class="col-md-10 col-xs-12  ">
      <div class="row">
        <span class="backBtn back_on_sngle_prdct_view " onclick="history.back(-1)"><span class="back_to_prdcts"></span></span>
      </div>
      <div>
        <tb-single-product details="vm.company" date-on-product="{{date | date: 'yyyy-MM-dd'}}"></tb-single-product>
      </div>

      <div class=" new_sngle_prdct_box">
        <h3 class="text-center">Comments</h3>
        <div id="disqus_thread"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

          var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document,
              s = d.createElement('script');
            s.src = '//thingsberry.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();

          /* * * Disqus Reset Function * * */
          var reset = function (newIdentifier, newUrl, newTitle, newLanguage) {
            DISQUS.reset({
              reload: true,
              config: function () {
                this.page.identifier = newIdentifier;
                this.page.url = newUrl;
                this.page.title = newTitle;
                this.language = newLanguage;
                this.experiment.enable_scroll_container = true;
              }
            });
          };
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>



    <!--<div class="col-md-2 col-xs-12" style="margin-top:40px;">

    </div>-->
    <div class="col-md-2 col-sm-10 col-sm-offset-1 col-md-offset-0 col-xs-12  allPrdctsAccrdnsPage" ng-init="getCategoriesForSide();getFrequentlyProducts()" style="padding-right:0px;margin-top:10px;">

      <div class="visible-xs">
        <div class="row frequentCat">
          <h4 style="font-size:23px;"><b>You May also Like :::</b></h4>
        </div>
        <div class="row" ng-repeat="val in frequentProducts |limitTo:1">
          <tb-frequent-products details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-frequent-products>
          <!--<tb-products-grid details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails" state="frequentlyState"></tb-products-grid>-->
        </div>
      </div>
      <div class="visible-sm" style="margin-bottom:30px;">
        <div class="row frequentCatInSm">
          <h4 style="font-size:32px;"><b>You May also Like :::</b></h4>
        </div>
        <div class="row">
          <div ng-repeat="val in frequentProducts |limitTo:2">
            <div class="col-sm-5 prdct-tile">
              <!--<tb-frequent-products details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-frequent-products>-->
              <tb-products-grid details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}" edit-icon="userDetails"></tb-products-grid>
            </div>
          </div>
        </div>
      </div>
      <div class="row frequentCat">
        <h4><b>CATEGORIES :::</b></h4>
      </div>
      <div class="row">
        <tb-accordions categories="accrdnsPanelArray"></tb-accordions>
      </div>
    </div>



    <a id='backTop'>Back To Top</a>
    <script>
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $("#backTop").fadeIn();
          } else {
            $("#backTop").fadeOut();
          }
        });

        // scroll body to 0px on click
        $("#backTop").click(function () {
          $("html, body").animate({
            scrollTop: 0
          }, 800);
          return false;
        })
      });
    </script>

  </div>



</div>
