<div class="col-md-12 col-xs-12">
  <div ui-view="single-product"></div>
</div>
<div>
  <div class=" allPrdctsPage" ng-init="getSearchedProductsList()" ng-hide="$state.current.name == 'home.companies.products.detail'">
    <div ng-hide="vm.companys.length == 0">
      <div class="row prdcts-sorting hidden-sm">
        <div class="col-md-5 prdct_showing_item">
          <div class="glyphicon glyphicon-th col-md-1 grid_sytle hidden-xs prdcts_sorting_item" ng-click="grdView()" ng-class="{'listclr':(gridView===true)}"></div>
          <div class="glyphicon glyphicon-th-list col-md-1 grid_sytle hidden-xs prdcts_sorting_item" ng-click="listView()" ng-class="{'listclr':(gridView===false)}"></div>
          <div class="col-md-9 col-xs-12 showing_In_Xs">Showing 1-{{vm.companys.length}} of {{vm.count}} products</div>
        </div>

        <div class="col-md-3 col-md-offset-3 col-xs-12" style="float:right;">
          <div class="prdcts_sorting_item">
            <select class="col-md-9 selectpicker  hidden-xs  sort_on_search" ng-model="searchOrder.List" ng-options="template.value as template.name for template in searchOrder.Lists">
            </select>
          </div>
          <div class=" visible-xs prdcts_sorting_item">
            <select class="  col-xs-12 col-xs-offset- sort_on_search " ng-model="searchOrder.List" ng-options="template.value as template.name for template in searchOrder.Lists" style="padding-left: 5px;">
            </select>
          </div>
        </div>
      </div>

      <div class="row prdcts-sorting visible-sm">
        <div class="col-sm-4 col-sm-offset-1  text-left">Showing 1-{{vm.companys.length}} of {{vm.count}} products</div>
        <div class="col-sm-1"><span class="glyphicon glyphicon-th grid_sytle  prdcts_sorting_item" ng-click="grdView()" ng-class="{'listclr':(gridView===true)}"></span> </div>
        <div class="col-sm-1"><span class="glyphicon glyphicon-th-list grid_sytle col-sm-2 prdcts_sorting_item" ng-click="listView()" ng-class="{'listclr':(gridView===false)}"></span> </div>
        <div class=" hidden-xs prdcts_sorting_item">
          <select class="col-sm-3 col-sm-offset-1  sort_on_search " ng-model="searchOrder.List" ng-options="template.value as template.name for template in searchOrder.Lists">
          </select>
        </div>
      </div>
    </div>

    <div ng-if="gridView==true">
      <div when-scrolled="LoadMoreProducts(spinnerLoading)">
        <div ng-repeat="val in vm.companys | orderBy: searchOrder.List " ng-show="vm.companys.length !==0 " class="product-listing ">
          <div class="visible-md clearfix " ng-if="$index % 3==0 "></div>
          <div class="col-md-3 col-sm-5 col-xs-12 prdct-tile ">
            <tb-products-grid details=val date-on-product="{{date | date: 'yyyy-MM-dd'}} " edit-icon="userDetails "></tb-products-grid>
          </div>
        </div>
        <!-- <div ng-show="spinnerLoading ">
          <h5 class="text-center ">Loading please wait...</h5>
          <div layout="row " layout-align="space-around ">
            <md-progress-circular md-mode="indeterminate " md-diameter="70 "></md-progress-circular>
          </div>
        </div>-->
      </div>
    </div>

    <div ng-if="gridView==false">
      <!--<when-scrolled scrolled-to-bottom="LoadMoreProducts()"></when-scrolled>-->
      <div when-scrolled="LoadMoreProducts(spinnerLoading)">
        <div ng-repeat="val in vm.companys | orderBy: searchOrder.List " ng-show="vm.companys.length !==0 " class="product-listing ">
          <tb-products-list details=val date-on-product="{{date | date: 'yyyy-MM-dd'}} " edit-icon="userDetails "></tb-products-list>
        </div>
        <!--  <div ng-show="spinnerLoading ">
          <div layout="row " layout-align="space-around ">
            <md-progress-circular md-mode="indeterminate " md-diameter="70 "></md-progress-circular>
          </div>
          <h5 class="text-center ">Loading please wait...</h5>
        </div>-->
      </div>
    </div>

    <div ng-hide="noMoreProductsAvailable">
      <h5 class="text-center ">Loading please wait...</h5>
      <div layout="row " layout-align="space-around ">
        <md-progress-circular md-mode="indeterminate " md-diameter="70 "></md-progress-circular>
      </div>
    </div>
    <div ng-show="noMoreProductsAvailable" class="row col-xs-12 text-center " style="margin:20px;margin-left:0px; ">
      <p class="no-prod-found">No More Products Found</p>
    </div>

    <!--<div class="row col-xs-12 text-center " style="margin:20px;margin-left:0px; ">

      <button type="button " class="btn btn-default view_all_prdcts_bttn " ng-click="LoadMoreProducts() " ng-hide="noMoreProductsAvailable || spinnerLoading || (vm.companys.length==vm.count) ">VIEW MORE PRODUCTS</button>
    </div>-->

    <div class="alert alert-warning text-center col-md-11 " ng-show="vm.companys.length==0 ">
      No Products found for this search query.
    </div>
  </div>
</div>
