<tb-header-image image="../../../../modules/core/client/img/products.jpg" opacity="1" maintitle="Product Listing::" subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt::">
</tb-header-image>



<div class="container" ng-init="getSearchedProductsList()">
  <div class="row  prdcts-list-box">
    <div class="col-md-10 col-xs-12 ">
      <div ng-hide="vm.companys.length == 0">
        <div class="row prdcts-sorting hidden-sm">
          <div class="col-md-5 prdct_showing_item">
            <div class="glyphicon glyphicon-th col-md-1 grid_sytle hidden-xs prdcts_sorting_item" ng-click="grdView()" ng-class="{'listclr':(gridView===true)}"></div>
            <div class="glyphicon glyphicon-th-list col-md-1 grid_sytle hidden-xs prdcts_sorting_item" ng-click="listView()" ng-class="{'listclr':(gridView===false)}"></div>
            <div class="col-md-9 col-xs-12 showing_In_Xs">Showing 1-{{vm.companys.length}} of {{vm.count}} products</div>
          </div>

          <div class="col-md-3 col-md-offset-3 col-xs-12" style="float:right;">
            <div class="prdcts_sorting_item">
              <select class="col-md-9 selectpicker  hidden-xs  sort_on_search" ng-model="searchOrder.List" ng-options="template.value as template.name for template in searchOrder.Lists">
              </select>
            </div>
            <div class=" visible-xs prdcts_sorting_item">
              <select class="  col-xs-12 col-xs-offset- sort_on_search " ng-model="searchOrder.List" ng-options="template.value as template.name for template in searchOrder.Lists" style="padding-left: 5px;">
              </select>
            </div>
          </div>
        </div>

        <div class="row prdcts-sorting visible-sm">
          <div class="col-sm-4 col-sm-offset-1  text-left">Showing 1-{{vm.companys.length}} of {{vm.count}} products</div>
          <div class="col-sm-1"><span class="glyphicon glyphicon-th grid_sytle  prdcts_sorting_item" ng-click="grdView()" ng-class="{'listclr':(gridView===true)}"></span> </div>
          <div class="col-sm-1"><span class="glyphicon glyphicon-th-list grid_sytle col-sm-2 prdcts_sorting_item" ng-click="listView()" ng-class="{'listclr':(gridView===false)}"></span> </div>
          <div class=" hidden-xs prdcts_sorting_item">
            <select class="col-sm-3 col-sm-offset-1  sort_on_search " ng-model="searchOrder.List" ng-options="template.value as template.name for template in searchOrder.Lists">
            </select>
          </div>
        </div>
      </div>
      <div ng-show="gridView">
        <div ng-repeat="val in vm.companys | orderBy: searchOrder.List" ng-show="vm.companys.length !== 0" class="product-listing">
          <div class="visible-md clearfix" ng-if="$index % 3 == 0"></div>
          <div class="col-md-3 col-sm-5 col-xs-12 prdct-tile ">
            <tb-products-grid details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}"></tb-products-grid>
          </div>
        </div>
        <div style="margin:5%;text-align:center;" ng-show="spinnerLoading"><img ng-src="modules/core/client/img/loaders/spinner.gif">
        </div>
      </div>

      <div ng-hide="gridView">
        <div ng-repeat="val in vm.companys | orderBy: searchOrder.List" ng-show="vm.companys.length !== 0" class="product-listing">
          <tb-products-list details=val date-on-product="{{date | date: 'yyyy-MM-dd'}}"></tb-products-list>
        </div>
        <div style="margin:5%;text-align:center;" ng-show="spinnerLoading"><img ng-src="modules/core/client/img/loaders/spinner.gif">
        </div>
      </div>

      <!-- <div class="row tb_paginate text-center col-md-12 col-sm-12 hidden-xs">
          <div class="my-pagination" uib-pagination total-items="vm.count" ng-model="currentPage" max-size="maxSize" boundary-link-numbers="false" items-per-page="itemsPerPage" previous-text="&#xf060;" next-text="&#xf061;"></div>
        </div>-->
      <div class="row col-xs-12  text-center" style="margin:20px;margin-left:0px;">
        <button type="button" class="btn btn-default view_all_prdcts_bttn" ng-click="LoadMoreProducts()" ng-hide="noMoreProductsAvailable || spinnerLoading || (vm.companys.length == vm.count)">VIEW MORE PRODUCTS</button>
      </div>
      <div class="alert alert-warning text-center" ng-show="vm.companys.length == 0">
        No Products found for this search query.
      </div>


    </div>

    <div class="col-md-2 col-xs-12">
      <!--<h4>Under progress.....</h4>-->
    </div>

  </div>

  <a id='backTop'>Back To Top</a>
  <script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $("#backTop").fadeIn();
        } else {
          $("#backTop").fadeOut();
        }
      });

      // scroll body to 0px on click
      $("#backTop").click(function () {
        $("html, body").animate({
          scrollTop: 0
        }, 800);
        return false;
      })
    });
  </script>

</div>
