<!--


<div class="product">
  <br>


  <div class="col-md-offset-3 col-md-6 col-md-6 col-sm-offset-1 col-sm-10  col-xs-12" style="opacity: 1;">
    <div>

      <div ng-show="user.roles.indexOf('admin') > -1" class="editIon">
        <i class="fa fa-pencil pencilIcon" ng-click="editProduct(details)"></i>
      </div>
      <div class="product-square-title">

        <p class="product_title">{{vm.company.Proname}} </p>
      </div>

      <div class="product-square-logo">
        <p>
          <a ng-href="{{vm.company.webAddress}}" target="_blank"> <img class="product-square-img" ng-src="{{vm.company.productImageURL}}"> </a>
        </p>
      </div>

       <div class="product-square-body" ng-init="limit= 100">
    <div class="product_desc">{{ vm.company.description | limitTo: limit }}{{vm.company.description.length > limit ? '...' : ''}}<span class="moreDesc" ng-click="changeLimit(vm.company)"   ng-hide="vm.company.description.length < limit">&nbsp;&nbsp;{{(limit != vm.company.description.length) ? 'more' :'less'}}<i class="fa text-cente" ng-class="{'fa-angle-double-right': (limit != vm.company.description.length), 'fa-angle-double-left': (limit == vm.company.description.length)}"></i></span></div>

      <div class="product-square-body" ng-init="limit= 100">
        <div class="product_desc">{{ vm.company.description}}</div>
      </div>

      <br>
      <div class="row">
        <span class="col-md-4 col-md-offset-1 col-xs-4 col-xs-offset-1 text-center user ">
      <div ng-mouseleave="hoverOut()" class=" arrow_box rt" ng-show="showRatings">
        <div class="ratingName">
          <h5><b>Give your rating here..</b></h5>
        </div>
<div class="stars">
        <uib-rating ng-model="rate1" ng-click="rating(rate1)" max="5" read-only="isReadonly1" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating "></uib-rating>
      </div>
</div>
        <div class="arrow_box rt" ng-hide="showRatings">
          <h5 class="ratedPopover">You rated <b>{{rate1}} star.</b><a ng-click="showMe()" class="modifyIt"><b  > modify</b></a>
      </h5>
    </div>


    <uib-rating ng-model="rate" max="5" read-only="isReadonly" on-titles="['one','two','three']" aria-labelledby="default-rating" class="readOnlyRating"></uib-rating>({{reviewsCount}})

    </span>

        <a ng-href="{{vm.company.companyWebsite}}" target="_blank"><i class="fa fa-globe col-md-3 col-md-offset-1 col-xs-offset-1 col-xs-3 text-center icons-on-img-footer"></i></a>

        <a ng-href="#" targer="_blank"><i  class="fa fa-compress  col-md-3  col-sm-3  col-xs-3 text-center icons-on-img-footer" onclick="history.back(-1)"></i></a>

      </div>
    </div>
  </div>
</div>


<div class="col-md-offset-3 col-md-6 col-md-6 col-sm-offset-1 col-sm-10  col-xs-12" style="opacity: 1;">
  <center>
    <h3>Comments</h3>
  </center>


  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Things.</a>
  </noscript>
</div>




-->
